<!-- Modal -->
<div class="modal fade" id="checkoutHelper" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="text-fix modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start">
                <h4 class="quick-font px-3 grn-font">Where is my donation item being delivered to?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body quick-font">
                <div class="container">
                    <div class="row">

                        <p class="px-3"><span class="bold-text grn-font">Partner Agency Name: </span><%= agency.agencyName %> <br/>

                            <span class="bold-text grn-font">Website: </span><%= agency.agencyWebsite %> <br/>
                            <span class="bold-text grn-font">Phone Number: </span><%= agency.agencyPhone %> <br/>
                            <span class="bold-text grn-font">Address (partial for privacy): </span><%= agency.agencyAddress.city %>, <%= agency.agencyAddress.state %>, <%= agency.agencyAddress.country %> <br/>
                        </p>
                    </div>

                    <div class="row">
                        <p class="px-3">We deliver the kids' wish items to their <span class="org-font">managing foster agencies</span>.
                            All kids and youth are under our partner foster agencies' care and the 
                            social worker or agency staff will collect the shipped wish items and distribute each gift. 
                            We don't have a drop-off site because we handle all shipping orders to make the donation experience more 
                            <span class="org-font">easy and efficient</span> for you. We will notify you with the delivery process.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">See Wish Cards</button> -->
            </div>
        </div>
    </div>
</div>