<!-- Wish Card deck -->
<div class="wishcards">
    <h1 class="crayon-font home-wish-title">Become Our Secret Santa</h1>
    <div class="container">
      <% if (!locals.wishcards || wishcards.length === 0) { %>
      <h1>No wishcards to display</h1>
      <% } else { %>
  
      <div class="row justify-content-center">
        <% for (let i = 0; i < wishcards.length; i++) { %>
        <div class="col-lg-4 col-xs-12 mb-5">
          <!-- Card -->
          <div id="card-fix" class="card h-100">
            <!--Card image-->
            <div class="view overlay">
              <img
                id="img-fix"
                class="card-img-top"
                src="<%= wishcards[i].wishCardImage %>"
                alt="Card image"
              />
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body">
              <a href="/wishcards/<%= wishcards[i]._id %>" class="wishcard__icon--fixed msg-icon">
                <i class="far fa-envelope" ></i>
              </a>
              <div class="card-text-container">
                <!--Title-->
                <h3 class="card-title text-center crayon-font">
                  My name is <%= wishcards[i].childFirstName %>
                </h3>
  
                <!--Text-->
                <div class="quick-font">
                  <p class="card-text">
                    <span class="font-weight-bold">Wish : </span>
                    <%= wishcards[i].wishItemName.length > 25 ? wishcards[i].wishItemName.substring(0,
                    25) + "..." : wishcards[i].wishItemName %>
                  </p>
                  <p class="card-text">
                    <span class="font-weight-bold">Item Price :</span> $<%= wishcards[i].wishItemPrice
                    %>
                  </p>
                  <p class="card-text">
                    <span class="font-weight-bold">Interest : </span>
                    <%= wishcards[i].childInterest.length > 30 ?
                    wishcards[i].childInterest.substring(0, 30) + "..." : wishcards[i].childInterest
                    %>
                  </p>
                </div>
                <div class="quick-font mt-4 row justify-content-center align-items-center">
                  <div class="col-sm-6 my-2 text-center">
                    <a href="/wishcards/<%= wishcards[i]._id %>" class="wishcard__link--white bdr-2"
                      >Read more</a
                    >
                  </div>
                  <div class="col-sm-6 my-2 text-center">
                    <button
                      type="button"
                      data-toggle="modal"
                      data-value-url="<%= wishcards[i].wishItemURL %>"
                      data-value-name="<%= wishcards[i].childFirstName %>"
                      data-value-id="<%= wishcards[i]._id %>"
                      data-value-loggedIn="<%= !!locals.user %>"
                      data-target="#wishCardDonateModal"
                      class="wishcard__button--blue bdr-2"
                    >
                      Donate Gift
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
  