.navbar.navbar-expand-md.mb-0.p-1
    .container.my-0
        a.navbar-brand.ms-3.m-lg-0.p-0( href='/' rel='home' )
            img( src='/img/new-donate-gifts-logo-2.png' alt='logo' )
        .collapse.navbar-collapse.justify-content-end
            .navbar-nav
                .nav-item
                    a.nav-link( href='/wishcards' ) Wish Cards
                .nav-item
                    a.nav-link( href='/mission' ) Mission
                .nav-item
                    a.nav-link( href='/howto' ) How To
                .nav-item
                    a.nav-link( href='/community' ) Community

                if !user
                    .nav-item
                        a.nav-link( href='/signup' ) Sign Up
                    .nav-item
                        a.nav-link( href='/login' ) Log In
                else
                    if user.userRole == 'partner'
                        if agency && agency.isVerified
                            .nav-item
                                a.nav-link( href='/wishcards/me' ) My Wishes
                            .nav-item
                                a.nav-link( href='/wishcards/create' ) Create a Wish Card
                    if user.userRole == 'admin'
                        li.nav-item
                            a.nav-link( href='/admin/' ) Admin Panel
                    li.nav-item
                        a.nav-link( href='/profile' ) Profile

        .justify-content-end.d-lg-none
            button.navbar-toggler( type='button'
                data-bs-toggle='collapse'
                data-bs-target='#navbarToggleExternalContent'
                aria-controls='navbarToggleExternalContent'
                aria-expanded='false'
                aria-label='Toggle navigation'
            )
                i.fas.fa-bars

.row.justify-content-center.d-lg-none
    .text-center
        #navbarToggleExternalContent.collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link( href='/wishcards' ) Wish Cards
                li.nav-item
                    a.nav-link( href='/mission' ) Mission
                li.nav-item
                    a.nav-link( href='/howto' ) How To
                li.nav-item
                    a.nav-link( href='/community' ) Community
                if !user
                    li.nav-item
                        a.nav-link( href='/signup' ) Sign Up
                    li.nav-item
                        a.nav-link( href='/login' ) Log In
                else
                    li.nav-item
                        a.nav-link( href='/profile' ) Profile
