<!DOCTYPE html>
<html lang="en">

<head>
	<title>Donate Gifts</title>
	<!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
	<%- include('./templates/header')-%>
</head>

<body>
	<%- include('./templates/nav')-%>

	<!-- header section-->
	<div class="bg" id="home-bg">
		<div class="text">
			<h1 class="banner-h1 crayon-font">Donate Gifts<span class="hide"> To Foster Kids</span></h1>
			<h4 class="comf-font">Every child should feel valued, remembered, and loved</h4>
			<h4 class="comf-font">Donate holiday/birthday gifts to the children who may not otherwise get one</h4>
			<a href="/wishcards"><button type="button" class="comf-font wishcard-btn inverted-grn-btn" id="btn1">See
					Wish Cards</button></a>

			<button type="button" class="comf-font wishcard-btn grn-btn" id="btn1" data-toggle="modal"
				data-target="#exampleModalCenter">Super Easy Process</button>
		</div>
	</div>

	<%- include('./templates/homeModal')-%>

	<%- include('./templates/homeSampleCards')-%>

	<!-- thank you section-->
	<div class="custom-wrapper" id="about">
		<div class="custom-row">
			<div class="custom-col custom-left">
				<img src="img/kids-cover.jpg" alt="chicago-gif-image" class="grn-box" />
			</div>
			<div class="custom-col custom-right">
				<h4 id="grn-font" class="crayon-font font-lg">Thanks to our gift donors!</h4>
				<p class="subtext comf-font">
					Your gifts make it possible to
					bring happiness to the children.<br />
					500,000+ kids spend time in foster care each year. <br />
					For many children, Christmas time can be sad and lonely because they are undergoing stressful
					situations due to poverty, illness, or lack of resources.
					With your generosity and kindness, we are able to provide a moment of happiness to children who are
					in need.
					By creating this platform, we wish to provide effortless and convenient ways to share the joy in the
					holiday season.
				</p>
				<p class="comf-font">Got any questions? We would love to hear from you.</p>
				<a href="/about"><button type="button" class="comf-font wishcard-btn grn-btn" id="btn1">How To
						Contact Us</button></a>
			</div>
		</div>
	</div>

	<%- include('./templates/homeMoreInfo')-%>

	<%- include('./templates/footer')-%>

	<!-- CDN Bootstrap.js, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
	</script>
</body>

</html>