<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Page | Donate Gifts</title>

    <%- include('./templates/header')-%>

    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/about.css">
    <!-- CDN jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- js scripts -->
    <script src="/clientJS/profile.js"></script>
</head>

<body>
    <%- include('./templates/nav')-%>
    <%- include('./templates/editAboutMeModal')-%>
    <!-- header section-->
    <div class="bg" id="profile-bg">
        <div class="profile-title">
            <h1 id="cray-font">Welcome <%= user.fName %></h1>
        </div>
    </div>

    <!-- profile content section-->
    <header class="profile-header comf-font">
        <div class="container justify-content-center">

            <% if (user.userRole == 'partner' && locals.agency && (!agency.isVerified)) { %>
            <p class="mt-5 text-danger notify"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Wish card
                creation feature is disabled for your account. <br> It will be enabled
                after agency verification. <br> For a faster verification, <a href="mailto:donate.gifts.stacy@gmail.com"
                    class="text-dark">click to email us</a>
            </p>
            <% } %>

            <% if (user.userRole == 'partner' && locals.agency && agency.isVerified) { %>
            <div class="user-info my-5">
                <h4 class="create-title pb-5">Create Wish Cards</h4>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-xs-12">
                        <p><i class="fa fa-pencil"></i>Child has a specific wish item</p>
                        <button id="create-btn" type="button" class="wishcard-btn">
                            <a href="#wishCardForm">Create Wish Card From Scratch</a></button>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <p><i class="fa fa-bolt" aria-hidden="true"></i>Need a faster way or unsure?
                        </p>
                        <button id="create-btn" type="button" class="wishcard-btn grn-btn">
                            <a href="#wishCardForm">Choose From Suggested List</a></button>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <p><i class="fa fa-question-circle" aria-hidden="true"></i>I have a question about this
                        </p>
                        <button id="create-btn" type="button" class="wishcard-btn">
                            <a href="mailto:donate.gifts.stacy@gmail.com">Email Us</a></button>
                    </div>
                </div>
            </div>
            <%}%>
    
               
            <% if (user.userRole == 'partner') { %>
            <div class="org-wrapper my-5">
                <h4 class="pb-5 font-weight-bold">Organization Details</h4>
                <div class="row justify-content-around">
                    <p class="col-md-4 col-xs-12">Name: <strong><%= agency.agencyName %></strong></p>
                    <p class="col-md-4 col-xs-12">Description: <%= agency.agencyBio %></p>
                </div>
                <div class="row justify-content-around">
                    <p class="col-md-4 col-xs-12">Phone Number: <%= agency.agencyPhone %></p>
                    <p class="col-md-4 col-xs-12">Website: <%= agency.agencyWebsite %></p>
                </div>
                <div class="row justify-content-around">
                    <p class="col-md-4 col-xs-12">Agency Verified: <%= agency.isVerified %></p>
                    <p class="col-md-4 col-xs-12">Number of Wishcards: <%= agency.wishCards.length %></p>
                </div>
            </div>
            <%}%>
    
            <div class="user-info my-5">
                <h4 class="pb-5 font-weight-bold">Account Details</h4>
                <div class="row justify-content-around">
                    <p class="col-md-4 col-xs-12">First Name: <%= user.fName %></p>
            <p class="col-md-4 col-xs-12">Last Name: <%= user.lName %></p>
        </div>
        <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Email: <%= user.email %></p>
            <p class="col-md-4 col-xs-12">User Role: <%= user.userRole %></p>
        </div>
        </div>

        </div>
    </header>

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <!-- about-me section -->
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>About Me<img data-toggle="modal"
                            data-target="#aboutMeModal" id="update-about-me" class="about-me-edit"
                            src="../img/edit-profile.svg" alt="Edit profile" /></h5>

                    <% if(user.aboutMe){ %>
                    <p id="about-me" class="card-text p-4"><%= user.aboutMe %></p>
                    <% } else{ %>
                    <p id="about-me" class="card-text p-4">You have no description saved.</p>
                    <% } %>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-gift" aria-hidden="true"></i>My Donations</h5>
                    <p class="card-text p-4"> You have made 0 donations.</p>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6 mb-3">
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</h5>
                    <p class="card-text p-4"> You have 0 messages.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-users" aria-hidden="true"></i>Friends</h5>
                    <p class="card-text p-4"> You have invited 0 friends.</p>
                </div>
            </div>
        </div>
    </div>

    <% if (user.userRole == 'partner' && locals.agency && agency.isVerified) { %>
    <!-- Wish Card Form Section-->
    <div class="container-fluid">
        <div class="create-wish-card">
            <!-- wishCardForm starts here-->
            <form class="container-fluid" id="wishCardForm" action="/wishcards" method="POST"
                enctype="multipart/form-data">
                <h4 class="crayon-font wish-card-form-title">
                    Create a wish card <br />
                    for children under your care
                </h4>

                <div class="row mb-5">
                    <h6 class="col text-center">We are developing new features to make the card creation much
                        easier in the future.
                        Support us by continuing to use this process until then. Thank you.
                    </h6>
                </div>

                <div class="row">
                    <div class="col-lg-6 comf-font wrap-input1" data-validate="Name is required">
                        <label for="childFirstName">Child's First Name</label>
                        <input id="childFirstName" class="input1" type="text" name="childFirstName"
                            placeholder="Enter First Name">
                    </div>

                    <div class="col-lg-6 ml-auto comf-font wrap-input1">
                        <label for="childLastName">Child's Last Name</label>
                        <input id="childLastName" class="input1" type="text" name="childLastName"
                            placeholder="Initial is ok">
                    </div>

                    <div class="col-lg-6 comf-font wrap-input1">
                        <label for="childBirthday">Child's Birthday</label>
                        <input id="childBirthday" class="input1" type="date" name="childBirthday"
                            placeholder="Child's Birthday">
                    </div>

                    <div class="col-lg-6 ml-auto comf-font wrap-input1">
                        <label for="childInterest">Child's Interest</label>
                        <input id="childInterest" class="input1" type="text" name="childInterest"
                            placeholder="Write something that the child likes to do">
                    </div>

                    <div class="col-lg-6 comf-font wrap-input1">
                        <label for="wishItemName">Wish Item Name</label>
                        <input id="wishItemName" class="input1" type="text" name="wishItemName"
                            placeholder="(e.g. Lego Set, Elephant Toy, etc. )">
                    </div>

                    <div class="col-lg-6 ml-auto comf-font wrap-input1">
                        <label for="wishItemPrice">We limit the price to be under $50 (USD)</label>
                        <input id="wishItemPrice" class="input1" type="number" name="wishItemPrice"
                            placeholder="Wish Item Price (numeric only)" min="1" max="50">
                    </div>

                    <div class="px-3 comf-font wrap-input1">
                        <label for="wishItemURL">Wish Item Amazon URL <a href="https://youtu.be/P4P6jEqTXs4"
                                target="_blank">(Watch this video for help)</a></label>
                        <input id="wishItemURL" class="input1" type="text" name="wishItemURL"
                            placeholder="(copied hyperlink address for one wish item)">
                    </div>

                    <div class="col-lg-6 comf-font wrap-input1" data-validate="Message is required">
                        <label for="chlidStory">Share their story</label>
                        <textarea id="chlidStory" class="input1" name="childStory"
                            placeholder="(e.g. why they want this gift, what their favorite subject is, or some info about the child)"></textarea>
                    </div>

                    <!-- Custom File Uploader  -->
                    <main class="col-lg-6 ml-auto">
                        <div class="box">
                            <div class="content">
                                <p>Photo is required; it can be of the wish item, relevant clip art, or child (if
                                    confidentiality is
                                    an issue, try using a photo of their hands making a heart, masked face,
                                    wearing sunglasses, etc.)</p>
                                <div class="uploader-left">
                                    <img id="preview" src="../img/img-placeholder.png" alt="image-placeholder">
                                </div>
                                <div class="uploader-right">
                                    <!-- <input type="text" class="img-path" placeholder="Select wish card image"> -->
                                    <span class="file-wrapper">
                                        <input type="file" name="wishCardImage" id="filetag"
                                            class="uploader upload-btn btn-large btn-alpha">
                                        <!-- <span class="upload-btn btn-large btn-alpha">Upload Image</span> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>

                <div id="submit-btn" class="comf-font">
                    <div class="contact1-form-btn">
                        <input value="Submit" type="submit" class="contact1-form-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <% } %>

    <%- include('./templates/footer')-%>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
    </script>

</body>

</html>