<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Page | Donate Gifts</title>

    <%- include('./templates/header')-%>

    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/about.css">
    <!-- CDN jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- js scripts -->
    <script src="../clientJS/profile.js"></script>
</head>

<body>
    <%- include('./templates/nav')-%>
    <%- include('./templates/editAboutmeModal')-%>
    <!-- header section-->
    <div class="bg" id="profile-bg">
        <div class="profile-title">
            <h1 id="cray-font">Welcome <%= user.fName %></h1>
        </div>
    </div>

    <!-- profile content section-->
    <header class="profile-header rale-font">
        <div class="container">

            <div class="row" id="profile-row">
                <div class="col-sm-3">
                    <a href="#"><img id="logo-img" src="../img/default-avatar.png" alt="default-avatar"></a>
                </div>

                <div class="col-md-3 ml-auto">
                    <% if (user.userRole == 'partner') { %>
                    <a href="#wishCardForm"><button type="button" class="wishcard-btn grn-btn">Create Wish Cards<i
                                class="fa fa-pencil"></i></button></a>
                    <%}%>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h2><strong><%= user.fName %> <%= user.lName %></strong></h2>

                    <% if (user.userRole == 'partner') { %>
                    <h5>Organization: Chicago Foster Care Center</h5>
                    <%}%>

                    <p>User Role: <%= user.userRole %></p>
                    <p>Email: <%= user.email %></p>
                </div>
            </div>
        </div>
    </header>

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i>About Me<img  data-toggle="modal" 
                        data-target="#aboutMeModal" id="update-about-me" class="about-me-edit" 
                        src="../img/edit-profile.svg" alt="Edit profile"/></h5>
                    
                        <% if(user.aboutMe){ %>
                        <p id="about-me" class="card-text p-4"><%= user.aboutMe %></p>
                        <% } else{ %>  
                        <p id="about-me" class="card-text p-4">You have no description saved.</p>
                        <% } %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-gift" aria-hidden="true"></i>My Donations</h5>
                    <p class="card-text p-4"> You have made 0 donations.</p>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6 mb-3">
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</h5>
                    <p class="card-text p-4"> You have 0 messages.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-block">
                    <h5 class="card-title"><i class="fa fa-users" aria-hidden="true"></i>Friends</h5>
                    <p class="card-text p-4"> You have invited 0 friends.</p>
                </div>
            </div>
        </div>
    </div>

    <% if (user.userRole == 'partner') { %>
    <!-- Wish Card Form Section-->
    <div class="create-wish-card">
        <!-- wishCardForm starts here-->
        <form class="container-fluid" id="wishCardForm" action="/wishcards" method="POST" enctype="multipart/form-data">
            <h4 class="crayon-font wish-card-form-title">
                Create a wish card <br />
                for children under your care
            </h4>

            <div class="row">
                <div class="col-lg-6 comf-font wrap-input1" data-validate="Name is required">
                    <input id="childFirstName" class="input1" type="text" name="childFirstName"
                        placeholder="Child's First Name">
                </div>

                <div class="col-lg-6 ml-auto comf-font wrap-input1">
                    <input id="childLastName" class="input1" type="text" name="childLastName"
                        placeholder="Child's Last Name (initial ok)">
                </div>

                <div class="col-lg-6 comf-font wrap-input1">
                    <label for="childBirthday">Child's Birthday</label>
                    <input id="childBirthday" class="input1" type="date" name="childBirthday" placeholder="Child's Birthday">
                </div>

                <div class="col-lg-6 ml-auto comf-font wrap-input1">
                    <label for="childInterest">Write something that the child likes to do</label>
                    <input id="childInterest" class="input1" type="text" name="childInterest"
                        placeholder="Child's Interest">
                </div>

                <div class="col-lg-6 comf-font wrap-input1">
                    <input id="wishItemName" class="input1" type="text" name="wishItemName" placeholder="Wish Item Name">
                </div>

                <div class="col-lg-6 ml-auto comf-font wrap-input1">
                    <input id="wishItemPrice" class="input1" type="number" name="wishItemPrice" placeholder="Wish Item Price">
                </div>

                <div class="px-3 comf-font wrap-input1">
                    <label for="wishItemURL">Wish Item Amazon URL <a href="https://youtu.be/RmvqvS7SIMU?t=67"
                            target="_blank">(Watch this video for help)</a></label>
                    <input id="wishItemURL" class="input1" type="text" name="wishItemURL"
                        placeholder="(copied hyperlink address for one wish item)">
                </div>

                <div class="col-lg-6 comf-font wrap-input1" data-validate="Message is required">
                    <label for="chlidStory">Share their story</label>
                    <textarea id="chlidStory" class="input1" name="childStory"
                        placeholder="(e.g. why they want this gift, what their favorite subject is, or some info about the child)"></textarea>
                </div>

                <!-- Custom File Uploader  -->
                <main class="col-lg-6 ml-auto">
                    <div class="box">
                        <div class="content">
                            <p>Photo is required; it can be of the wish item, clip art, or child (if confidentiality is
                                an issue, try using a photo of their hands making a heart, masked face,
                                etc.)</p>
                            <div class="uploader-left">
                                <img id="preview" src="../img/img-placeholder.png" alt="image-placeholder">
                            </div>
                            <div class="uploader-right">
                                <!-- <input type="text" class="img-path" placeholder="Select wish card image"> -->
                                <span class="file-wrapper">
                                    <input type="file" name="wishCardImage" id="filetag"
                                        class="uploader upload-btn btn-large btn-alpha">
                                    <!-- <span class="upload-btn btn-large btn-alpha">Upload Image</span> -->
                                </span>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <div class="comf-font container-contact1-form-btn">
                <div class="contact1-form-btn">
                    <input value="Submit" type="submit" class="contact1-form-btn">
                </div>
            </div>
        </form>
    </div>
    <% } %>

    <%- include('./templates/footer')-%>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
    </script>

</body>

</html>