<!DOCTYPE html>
<html lang="en">

<!-- TODO: before user can leave a message, check if user is signed in first, if not, redirect to log in -->

<head>
    <title>See Each Wish Card | Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>
    <link rel="stylesheet" href="../css/wishCardFull.css">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- js scripts -->
    <script src="../clientJS/wishCardFullPage.js"></script>
</head>

<body>
    <%- include('./templates/nav')-%>

    <div class="container">
        <div class="page-wrapper">

            <div class="section-title mt-5">
                <h1 class="card-title text-center crayon-font grn-font">
                    <%= wishcard.childFirstName %>'s Wishcard</h1>
                <img id="img-kid" src="<%= wishcard.wishCardImage %>" alt="Card image">
                <div class="button-center">
                    <button type="button" id="donate-btn" class="wishcard-btn btn-grn-bg comf-font"><a
                            href="<%= wishcard.wishItemURL %>" target="_blank">Donate Gift</a></button>
                </div>
            </div>

            <div class="section-info mt-5 comf-font">
                <h4 class="pb-4 grn-font">Wish Card Details</h4>
                <p class="card-text">Wish Item : <%= wishcard.wishItemName %></p>
                <p class="card-text">Item Price : $<%= wishcard.wishItemPrice %></p>
                <p class="card-text">Interest : <%= wishcard.childInterest %></p>
                <p class="card-text">About Me : <%= wishcard.childStory %></p>
            </div>

            <div class="write-msg mt-5 comf-font">
                <h4 class="pb-4 grn-font">Sign <%= wishcard.childFirstName %>'s Card</h4>
                <p class="card-text">Select a message to send</p>
                <!-- After discussion, we decided to just do a pre-written phrase checkbox,
                instead of allowing people to write personal messages
                to prevent possible profanity -->
                
                <form class="message" action="/wishcards/message" method="post">
                    <select class="custom-select">
                        <option selected>Messages</option>
                        <option value="1"><%= user.fName %> sends you love, <%= wishcard.childFirstName %></option>
                        <option value="2">Happy Birthday to the sweetest kid in the entire world.</option>
                        <option value="3">Happy birthday to a future superstar!</option>
                        <option value="4">Happy birthday, <%= wishcard.childFirstName %></option>
                        <option value="5">Merry Christmas, <%= wishcard.childFirstName %></option>
                        <option value="6">Happy holidays, <%= wishcard.childFirstName %></option>
                        <option value="7"><%= wishcard.childFirstName %>, you are awesome!</option>
                        <option value="8">Lots of love and best wishes, <%= wishcard.childFirstName %></option>
                        <option value="9"><%= wishcard.childFirstName %>, hope you enjoy my gift!</option>
                        <option value="10">Merry Christmas and a Happy New Year</option>
                        <option value="11"><%= wishcard.childFirstName %>, have a happy holiday</option>
                        <option value="12">Congratulations, <%= wishcard.childFirstName %></option>
                    </select>
                    <input type="submit" id="submit" class="mt-4" value="Send Message">
                </form>
                
            </div>

            <!-- This part needs to show all users' messages sent to this wishcard 
            wishcard model has 'messages' field which is an objectId array of 'Message'-->
            <div class="show-msg">
                <% if (messages.length === 0) { %>
                <h6 class="comf-font">No one signed <%= wishcard.childFirstName %>'s card yet.
                    Be the first person to send a message.</h6>
                <% } else { %>
                <div>
                    <% for (var i = 0; i < messages.length; i++) { %>
                    <p><%= messages[i].message %></p>
                    <p>Sent by: <%= messages[i].fromUser %></p>
                    <!-- also add a timestamp here-->
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('./templates/footer')-%>
    <script>
        let messageFrom = `<%- JSON.stringify(user) %>`;
        let messageTo = `<%- JSON.stringify(wishcard) %>`;
    </script>
    <!-- CDN Bootstrap.js, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
        </script>
</body>

</html>