<!DOCTYPE html>
<html lang="en">

<head>
	<title>See Wish Cards | Donate Gifts</title>
	<!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
	<%- include('./templates/header')-%>
	<link rel="stylesheet" href="../css/search.css">
</head>

<body>
	<%- include('./templates/nav')-%>

	<!-- Wish Card deck -->
	<div class="wishcards">

		<!-- Search Bar -->
		<div class="row justify-content-center rale-font" id="margin-bottom">
			<div class="col-12 col-md-10 col-lg-8">
				<!-- Search form -->
				<form class="card card-sm" id="searchBar" action="/wishcards/search" method="POST">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fa fa-search h4 text-body" aria-hidden="true"></i>
						</div>
						<div class="col">
							<input class="form-control form-control-lg form-control-borderless" type="search"
								name="wishitem" placeholder="Search Wish Cards">
						</div>
						<div class="col-auto">
							<button class="btn btn-lg btn-success" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Dynamic Card Display now fixed and responsive-->

		<div class="container">
			<% if (wishcards.length === 0) { %>
			<h1>No wishcards</h1>
			<% } else { %>
			<div class="row justify-content-center">

				<% for (var i = 0; i < wishcards.length; i++) { %>
					<div class="card-deck mr-1 w-50">
						<!-- Card -->
						<div class="card mb-3">
							<!--Card image-->
							<div class="view overlay">
								<img class="card-img-top" src="<%= wishcards[i].wishCardImage %>" alt="Card image">
								<a href="#!">
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<!--Card content-->
							<div class="card-body">
								<!--Title-->
								<h4 class="card-title text-center crayon-font">My name is
									<%= wishcards[i].childFirstName %></h4>
								<!--Text-->
								<div class="comf-font">
									<p class="card-text">Wish Item : <%= wishcards[i].wishItemName %></p>
									<p class="card-text">Item Price : $<%= wishcards[i].wishItemPrice %></p>
									<p class="card-text">Interest : <%= wishcards[i].childInterest %></p>
									<div class="row button-center">
										<!--The See More button needs another 'details' page but it will be implemented in a later version-->
										<!-- <button type="button" class="wishcard-btn btn-grn-border">See more</button> -->
										<button type="button" class="wishcard-btn btn-grn-bg"><a href="<%= wishcards[i].wishItemURL %>" target="_blank">Donate Gift</a></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% } %>
			</div>
			<% } %>

		</div>
	</div>

    <script>
        // check clicked element and disable right click if its the element that contains child image
        function preventChildImageContextMenu(e) {
            // class name of the element that contains the child image
            let childImageElementClassName = "card-img-top"; 
            
            // take clicked html element
            let firstElementChild = e.path[0];
            
            // check if it exists
            if (firstElementChild) {
                // check the class name of the clicked element. If its the one containg child image disable right click
                if (firstElementChild.className === childImageElementClassName) {
                    e.preventDefault();
                }
            }
        }

        // event listener that fires whenever a right click has occured
        window.addEventListener("contextmenu", preventChildImageContextMenu);
    </script>
    
	<%- include('./templates/footer')-%>
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
	</script>
</body>

</html>