extends ../master

block title
    title Sign Up to Donate Gifts

block content
    #fb-root
    .signup-bg.d-flex.container-fluid.justify-content-center.py-5
        .wrap-box
            form.signup( action='/users/login' method='post' )
                .sign-row.lg.title-text.crayon-font.mg-sm
                    a.userLogBtn( href='/users/login' ) Log In
                    span OR
                    a.userLogBtn( href='/users/signup' ) Sign Up
                .wrap-input.mg-btm( data-validate='Email is required' )
                    input#email.input-default.quick-font( required type='email' name='email' placeholder='Email' title='example: username@xyz.com' )
                .wrap-input.mg-btm2( data-validate='Password is required' )
                    input#password.input-default.quick-font( required
                        type='password'
                        name='password'
                        placeholder='Password'
                    )
                    i#showPassword.fas.fa-eye.text-white
                a.text-white( href='/users/password/request/' ) Forgot Password?
                .container-form-btn
                    button.form-btn.quick-font( type='submit' ) Log In

            #google-fb-login
                .d-flex.justify-content-center
                    .g-signin2.mt-3( data-width='228' data-longtitle='true' data-onsuccess='googleLogin' )
                .d-flex.justify-content-center
                    .fb-login-button.mt-3( data-size='large'
                        data-button-type='login_with'
                        data-layout='default'
                        data-auto-logout-link='false'
                        data-use-continue-as='false'
                        data-scope='public_profile,email'
                        data-onlogin='facebookLogin'
                    )

append scripts
    if successNotification
        script.
            showToast('#{successNotification.msg}');

    if errorNotification
        script.
            showToast('#{errorNotification.msg}');

    script.
        $(document).ready(() => {
            $('.signup').submit((e) => {
                e.preventDefault();
                $('#submit-btn').prop('disabled', true);

                const formData = $(this)
                    .serializeArray()
                    .reduce((obj, item) => {
                        obj[item.name] = item.value;
                        return obj;
                    }, {});

                $.ajax({
                    type: 'POST',
                    url: '/users/login',
                    data: formData,
                    success: (response, textStatus, jqXHR) => {
                        $('#submit-btn').prop('disabled', false);
                        location.reload();
                    },
                    error: (response, textStatus, errorThrown) => {
                        showToast(response.responseJSON.error.msg);
                        $('#submit-btn').prop('disabled', false);
                    },
                });
            });

            $('#showPassword').click(() => {
                const imageHideClass = 'fas fa-eye';
                const imageVisibleClass = 'fas fa-eye-slash';
                const $passwordInput = $('#password');
                const passworInputType = $passwordInput.attr('type');

                switch (passworInputType) {
                    case 'password':
                        $passwordInput.attr('type', 'text');
                        $(this).removeClass(imageHideClass);
                        $(this).addClass(imageVisibleClass);
                        break;

                    case 'text':
                        $passwordInput.attr('type', 'password');
                        $(this).removeClass(imageVisibleClass);
                        $(this).addClass(imageHideClass);
                        break;
                    default:
                        break;
                }
            });

            function facebookLogin(fbUser) {
                if (fbUser.authResponse && fbUser.status === 'connected') {
                    FB.api('/me', 'GET', { fields: ['name', 'email'] }, (response) => {
                        if (response.id) {
                            $.ajax({
                                type: 'POST',
                                url: '/users/fb-signin',
                                data: {
                                    userName: response.name,
                                    email: response.email,
                                },
                                success: function (route) {
                                    location.reload();
                                },
                                error: function (response) {
                                    let txtToJson = JSON.parse(response.responseText);
                                    showToast(txtToJson.error.msg);
                                },
                            });
                        }
                    });
                }
            }

            function googleLogin(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                // disconnect to avoid constant re-login after logout
                googleUser.disconnect();

                $.ajax({
                    type: 'POST',
                    url: '/users/google-signin',
                    data: {
                        id_token,
                    },
                    success: (route) => {
                        location.reload();
                    },
                    error: (response) => {
                        showToast(response.responseJSON.error.msg);
                    },
                });
            }
        });
