<!-- Wish Card deck -->
<div class="wishcards">
    <h1 class="cool-font home-wish-title">Become Our Secret Santa</h1>
    <div class="container">
        <% if (wishcards.length === 0 || !wishcards) { %>
        <h1>No wishcards to display</h1>
        <% } else { %>

        <div class="row justify-content-center">
            <% for (let i = 0; i < wishcards.length; i++) { %>
            <div class="col-lg-4 col-xs-12">
                <!-- Card -->
                <div id="card-fix" class="card mb-3">
                    <!--Card image-->
                    <div class="view overlay">
                        <img id="img-fix" class="card-img-top" src="<%= wishcards[i].wishCardImage %>" alt="Card image">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <a class='btn-3 msg-icon' href='/wishcards/<%= wishcards[i]._id %>'>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
						</a>
                        <!--Title-->
                        <h4 class="card-title text-center crayon-font">My name is
                            <%= wishcards[i].childFirstName %></h4>
                        <!--Text-->
                        <div class="teac-font">
                            <p class="card-text">Wish : <%= wishcards[i].wishItemName %></p>
                            <p class="card-text">Item Price : $<%= wishcards[i].wishItemPrice %></p>
                            <p class="card-text">Interest : <%= wishcards[i].childInterest %></p>

                            <div class="row button-center">
                                <button type="button" class="col wishcard-btn btn-navy-border"><a
                                        href="/wishcards/<%= wishcards[i]._id %>">Read more</a></button>
                                <button type="button" class="col wishcard-btn btn-navy-bg"><a
                                        href="<%= wishcards[i].wishItemURL %>" target="_blank">Donate Gift</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>

    </div>
   
</div>