extends ../../master

block title
    title Profile Page | Donate Gifts

block content
    #profile
        .profile-welcome.cool-font.center-elements.text-secondary
            h1#welcome-title Welcome #{user.fName}

        .container.pt-5
            if !user.emailVerified
                .my-3
                    .fa.fa-exclamation-triangle.me-2.text-secondary( aria-hidden='true' )
                    span Some features are disabled until email is verified. Please verify your email.
            if user.userRole == 'partner' && agency
                if !agency.isVerified
                    .my-3
                        .fa.fa-exclamation-triangle.me-2.text-secondary( aria-hidden='true' )
                        span Wish card creation feature is disabled for your account.
                        span It will be enabled after agency verification. This usually takes 1-2 business days. For a faster verification, <a class="text-secondary" href="/contact">contact us</a>.
                else
                    .card.shadow.mb-5.border-0.p-3.my-5
                        .card-body.row.justify-content-between.align-content-center.text-center
                            .col-12.col-md-12.col-lg-4.p-2
                                .mb-3
                                    span Ask for a specific wish item
                                a.button-accent.button-width( href='/wishcards/create' )  Create Wish Cards
                            .col-12.col-md-12.col-lg-4.p-2
                                .mb-3.mt-3.mt-md-0
                                    span Review your existing wish cards
                                a.button-primary.button-width( href='/wishcards/manage' ) Manage Wish Cards
                            .col-12.col-md-12.col-lg-4.p-2
                                .mb-3.mt-3.mt-md-0
                                    span Got any questions?
                                a.button-secondary.button-width( href='/contact' ) Contact For Help
            if user.userRole == 'partner'
                #agencyInfoCard.card.shadow.mb-5.border-0.p-3
                    .card-title.d-flex.justify-content-between.p-3
                        .display-6 Agency Details
                        .fas.fa-edit( data-bs-toggle='modal' data-bs-target='#agency-details-modal' )

                    .card-body
                        .row.justify-content-center
                            .mb-2.col-12.d-flex
                                -
                                    var text = '<div class="text-muted">Agency name:</div>';

                                    text += '<span class="mx-1">' + agency.agencyName + '</span>';

                                    if (agency.isVerified) {
                                        text += '<div class="text-secondary fw-bold">Verified <div class="fas fa-check-circle text-secondary"></div></div>';
                                    } else {
                                        text += '<div class="text-secondary fw-bold">Not Verified</div>';
                                    }

                                != text

                        .row.justify-content-center.my-4
                            .col-12
                                span.text-muted Agency description:
                                span#agencyBio.mx-2= agency.agencyBio || 'Not provided'
                        .row.justify-content-center.my-4
                            .col-12.col-md-6.mb-4.mb-md-0
                                span.text-muted Number of existing wish cards:
                                span.mx-2= wishCardsLength
                            .col-12.col-md-6
                                span.text-muted Partner since:
                                span.mx-2= agency.joined.toLocaleString().split(',')[0]
                        .row.justify-content-center.my-4
                            .col-12.col-md-6.mb-4.mb-md-0
                                span.text-muted Contact number:
                                span#agencyPhone.mx-2= agency.agencyPhone
                            .col-12.col-md-6
                                span.text-muted Website:
                                span#agencyWebsite.mx-2.text-wrap= agency.agencyWebsite || 'Not provided'

                        if agency.agencyAddress
                            .row.justify-content-center.my-4
                                .col-12.col-lg-6.mb-4.mb-md-0
                                    span.text-muted Address line 1:
                                    span#address1.mx-2= agency.agencyAddress.address1
                                .col-12.col-lg-6
                                    span.text-muted Address line 2:
                                    span#address2.mx-2= agency.agencyAddress.address2 || 'Not provided'
                            .row.justify-content-center.my-4
                                .col-12.col-lg-6.mb-4.mb-md-0
                                    span.text-muted City:
                                    span#city.mx-2= agency.agencyAddress.city
                                .col-12.col-lg-6
                                    span.text-muted State:
                                    span#state.mx-2= agency.agencyAddress.state
                            .row.justify-content-center.my-4
                                .col-12.col-lg-6.mb-4.mb-md-0
                                    span.text-muted Country:
                                    span#country.mx-2= agency.agencyAddress.country
                                .col-12.col-lg-6
                                    span.text-muted Zipcode:
                                    span#zipcode.mx-2= agency.agencyAddress.zipcode

            .card.shadow.mb-5.border-0.p-4
                .card-title.d-flex.justify-content-between.p-3.pb-0
                    .display-6 Account Details
                    .fas.fa-edit( data-bs-toggle='modal' data-bs-target='#account-details-modal' )

                .card-body
                    .row.justify-content-center.my-4
                        .col-12.col-lg-6.mb-4.mb-md-0
                            span.text-muted First name:
                            span#fName.mx-2= user.fName
                        .col-12.col-lg-6
                            span.text-muted Last name:
                            span#lName.mx-2= user.lName
                    .row.justify-content-center.my-4
                        .col-12.col-lg-6.mb-4.mb-md-0
                            span.text-muted Your email:
                            span#fName.mx-2= user.email
                        .col-12.col-lg-6
                            span.text-muted Your role:
                            span.mx-2= user.userRole

            .row.mb-5.mb-md-3
                .col-md-6.mb-5.mb-md-0
                    .card.h-100.shadow.border-0.p-3
                        .card-title.d-flex.justify-content-between.p-3
                            .display-6
                                .fa.fa-user.mx-2
                                span About Me
                            .fas.fa-edit( data-bs-toggle='modal' data-bs-target='#about-me-modal' )

                        if user.aboutMe
                            .y-scroll
                                #about-me.p-4= user.aboutMe
                        else
                            #about-me.p-4 You have no description saved.

                .col-md-6
                    .card.h-100.shadow.border-0.p-3
                        .card-title.p-3
                            .display-6
                                .fa.fa-gift.mx-2
                                span My Donations

                        .row.justify-content-center.text-center
                            .col-12
                                a.button-secondary( href='/profile/donations' ) My Donation History

            .row.pb-5
                .col-md-6.mb-5.mb-md-0
                    .card.h-100.shadow.border-0.p-3
                        .card-title.p-3
                            .display-6
                                .fa.fa-cogs.mx-2
                                span Settings

                        .row.justify-content-center.text-center
                            if !user.emailVerified
                                .row.justify-content-center
                                    .col-12.col-lg-8
                                        a.button-primary.w-100( href='/profile/password/reset/' ) Reset Password
                                .row.justify-content-center.mt-2
                                    .col-12.col-lg-8
                                        a.button-secondary.w-100( href='/profile/logout' ) Log Out
                                .row.justify-content-center.mt-2
                                    .col-12.col-lg-8
                                        button#resend-verification-link.button-primary.w-100( type='button' ) Resend Verification Link
                            else
                                .col-12.col-lg-6
                                    a.button-primary.w-100( href='/profile/password/reset/' ) Reset Password
                                .col-12.col-lg-6.mt-2.mt-lg-0
                                    a.button-secondary.w-100( href='/profile/logout' ) Log Out

                .col-md-6
                    .card.h-100.shadow.border-0.p-3
                        .card-title.p-3
                            .display-6
                                .fa.fa-users.mx-2
                                span Friends

                        .p-4 You have invited 0 friends.

block modal
    #about-me-modal.modal.fade( tabindex='-1' role='dialog' aria-labelledby='about-me-title' aria-hidden='true' )
        .modal-dialog.modal-dialog-centered.modal-lg( role='document' )
            .modal-content
                .modal-header
                    h5#about-me-title.modal-title Edit about me
                    button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
                .modal-body
                    .container-fluid
                        if user.aboutMe
                            .my-2
                                textarea#about-me-text.form-control( placeholder='Write something about you' )= user.aboutMe
                        else
                            textarea#about-me-text.form-control( placeholder='Write something about you' )
                .modal-footer.d-flex.justify-content-end
                    .col-12.col-md-4
                        button#save-about-me.btn.btn-lg.btn-primary.w-100( type='button' data-bs-dismiss='modal' ) Save

    #account-details-modal.modal.fade( tabindex='-1' role='dialog' aria-labelledby='account-details-title' aria-hidden='true' )
        .modal-dialog.modal-dialog-centered.modal-lg( role='document' )
            .modal-content
                .modal-header
                    h5#account-details-title.modal-title.mx-2 Edit Account Details
                    button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
                .modal-body
                    .container-fluid
                        #accountDetailsForm
                            .row.justify-content-center.my-2
                                .col-12.col-lg-6
                                    label.form-label( for='fName' ) First Name:
                                    input#fName.form-control( type='text' name='fName' value=user.fName )
                                .col-12.col-lg-6.mt-2.mt-md-0
                                    label.form-label( for='lName' ) Last Name:
                                    input#lName.form-control( type='text' name='lName' value=user.lName )
                .modal-footer.d-flex.justify-content-end
                    .col-12.col-md-4
                        button#save-account-details.btn.btn-lg.btn-primary.w-100( type='button' data-bs-dismiss='modal' ) Save

    if agency
        #agency-details-modal.modal.fade( tabindex='-1' role='dialog' aria-labelledby='agency-details' aria-hidden='true' )
            .modal-dialog.modal-dialog-centered.modal-lg( role='document' )
                .modal-content
                    .modal-header
                        h5#agency-details.modal-title.mx-2 Edit Agency Details
                        button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
                    .modal-body
                        .container-fluid
                            #agencyDetailsForm
                                .my-2
                                    label.form-label( for='agencyBio-edit' ) Agency Description:
                                    textarea#agencyBio-edit.form-control( name='agencyBio' rows='3' placeholder='Enter agency description' )= agency.agencyBio
                                .my-2
                                    label.form-label( for='agencyPhone-edit' ) Contact Number:
                                    input#agencyPhone-edit.form-control( type='text' name='agencyPhone' placeholder='000-000-0000' value=agency.agencyPhone )
                                .my-2
                                    label.form-label( for='agencyWebsite-edit' ) Website:
                                    input#agencyWebsite-edit.form-control( type='text' name='agencyWebsite' value=agency.agencyWebsite )
                                .my-2
                                    label.form-label( for='address1-edit' ) Address Line 1:
                                    input#address1-edit.form-control( type='text' name='address1' value=agency.agencyAddress.address1 )
                                .my-2
                                    label.form-label( for='address2-edit' ) Address Line 2:
                                    input#address2-edit.form-control( type='text' name='address2' value=agency.agencyAddress.address2 )
                                .my-2
                                    label.form-label( for='city-edit' ) City:
                                    input#city-edit.form-control( type='text' name='city' value=agency.agencyAddress.city )
                                .my-2
                                    label.form-label( for='state-edit' ) State:
                                    input#state-edit.form-control( type='text' name='state' value=agency.agencyAddress.state )
                                .my-2
                                    label.form-label( for='country-edit' ) Country:
                                    input#country-edit.form-control( type='text' name='country' value=agency.agencyAddress.country )
                                .my-2
                                    label.form-label( for='zipcode-edit' ) Zipcode:
                                    input#zipcode-edit.form-control( type='text' name='zipcode' value=agency.agencyAddress.zipcode )
                    .modal-footer.d-flex.justify-content-end
                        .col-12.col-md-4
                            button#save-agency-details.btn.btn-lg.btn-primary.w-100( type='button' data-bs-dismiss='modal' ) Save

block scripts
    script( src='https://unpkg.com/imask@6.0.5/dist/imask.js' )
    script.
        $(document).ready(() => {
            const element = document.getElementById('agencyPhone-edit');
            const maskOptions = {
                mask: '000-000-0000'
            };

            if (element) {
                IMask(element, maskOptions);
            }
        });

    script.
        $(document).ready(() => {
            const successNotification = !{JSON.stringify(successNotification || null)};

            if (successNotification?.msg) {
                new DG.Toast.show(successNotification.msg);
            }
        });

    script.
        $(document).ready(() => {
            const toast = new DG.Toast();

            $('#resend-verification-link').click(() => {
                $.ajax({
                    type: 'POST',
                    url: '/api/profile/resend-verification-link',
                    data: {
                        userId: '#{user._id}',
                    },
                    success: (response) => {
                        toast.show('Resent verification link!');
                    },
                    error: (_) => {
                        toast.show('Could not resend verification link.', true);
                    }
                });
            });
        });

    script.
        $(document).ready(() => {
            const toast = new DG.Toast();

            $('#save-about-me').click(() => {
                const aboutMe = $('#about-me-text').val();

                $.ajax({
                    type: 'PUT',
                    url: '/profile',
                    data: { aboutMe },
                    success: (response) => {
                        toast.show('Updated your info!');
                        $('#about-me').text(response.data || 'You have no description saved.');
                    },
                    error: (_) => {
                        toast.show('Could not update about me info.', true);
                    }
                });
            });

            $('#save-account-details').click(() => {
                const accDetailsForm = $('#accountDetailsForm');
                const fName = accDetailsForm.find('#fName').val();
                const lName = accDetailsForm.find('#lName').val();

                $.ajax({
                    type: 'PUT',
                    url: '/profile/account',
                    data: { fName, lName },
                    success: (response) => {
                        toast.show('Updated your account details');
                        const {fName, lName} = response.data;
                        $('#fName').text(fName);
                        $('#lName').text(lName);
                        $('#welcome-title').text(`Welcome ${fName}`);
                    },
                    error: (response) => {
                        toast.show(response.responseJSON.error.msg || 'Could not update account details', true);
                    }
                });
            });

            $('#save-agency-details').click(() => {
                const agencyBio = $('#agencyBio-edit').val();
                const agencyPhone = $('#agencyPhone-edit').val();
                const agencyWebsite = $('#agencyWebsite-edit').val();
                const address1 = $('#address1-edit').val();
                const address2 = $('#address2-edit').val();
                const city = $('#city-edit').val();
                const state = $('#state-edit').val();
                const country = $('#country-edit').val();
                const zipcode = $('#zipcode-edit').val();

                $.ajax({
                    type: 'PUT',
                    url: '/profile/agency',
                    data: { agencyBio, agencyPhone, agencyWebsite, address1, address2, city, state, country, zipcode },
                    success: (response) => {
                        toast.show('Updated your agency details');
                        const agencyCard = $('#agencyInfoCard');
                        $('#agencyBio', agencyCard).text(response.data.agencyBio || 'Not provided');
                        $('#agencyBio-edit', agencyCard).text(response.data.agencyBio || 'Not provided');
                        $('#agencyPhone', agencyCard).text(response.data.agencyPhone);
                        $('#agencyPhone-edit', agencyCard).text(response.data.agencyPhone);
                        $('#agencyWebsite', agencyCard).text(response.data.agencyWebsite || 'Not provided');
                        $('#agencyWebsite-edit', agencyCard).text(response.data.agencyWebsite || 'Not provided');
                        $('#address1', agencyCard).text(response.data.address1);
                        $('#address1-edit', agencyCard).text(response.data.address1);
                        $('#address2', agencyCard).text(response.data.address2 || 'Not provided');
                        $('#address2-edit', agencyCard).text(response.data.address2 || 'Not provided');
                        $('#city', agencyCard).text(response.data.city);
                        $('#city-edit', agencyCard).text(response.data.city);
                        $('#state', agencyCard).text(response.data.state);
                        $('#state-edit', agencyCard).text(response.data.state);
                        $('#country', agencyCard).text(response.data.country);
                        $('#country-edit', agencyCard).text(response.data.country);
                        $('#zipcode', agencyCard).text(response.data.zipcode);
                        $('#zipcode-edit', agencyCard).text(response.data.zipcode);
                    },
                    error: (response) => {
                        toast.show(response.responseJSON.error.msg || 'Could not update agency details', true);
                    }
                });
            });

            $('#agencyAddressCheckBox').click(function () {
                if ($(this).is(':checked')) {
                    const confirmation = confirm('Do you want to overwrite the address with agency address?');
                    if (confirmation === true) {
                        fetchAgencyData();
                    }
                }
            });

            const replaceImage = (imagePath) => {
                $('#profilePicture').attr('src', imagePath);
            };

            $('#buttonUploadImage').change(() => {
                const formData = new FormData();
                formData.append('profileImage', $(this).prop('files')[0]);

                if (buttonUploadImage.files[0]) {
                    $.ajax({
                        type: 'POST',
                        url: '/profile/picture',
                        headers: {
                            'x-csrf-token': $('input[name=_csrf]').val()
                        },
                        data: formData,
                        success: (response) => {
                            replaceImage(response.data);
                        },
                        error: (_) => {
                            toast.show("Could not update profile picture", true);
                        }
                    });
                }
            });

            $('#buttonRemoveImage').click(() => {
                $.ajax('/profile/picture', {
                    type: 'DELETE',
                    url: '/profile/picture',
                    headers: {
                        'x-csrf-token': $('input[name=_csrf]').val()
                    },
                    success: (response) => {
                        replaceImage(response.data);
                    },
                    error: (_) => {
                        toast.show("Could not remove profile picture", true);
                    }
                });
            });
        });