extends ../../master

block title
    title Profile Page | Donate Gifts

block content
    .profile.pb-5
        .profile-welcome
            - var title = 'Welcome' + ' ' + user.fName;
            h1= title
        .pt-2
            .container.justify-content-center
                if !user.emailVerified
                    p.mt-4
                        i.fa.fa-exclamation-triangle( aria-hidden='true' )
                        span Some features are disabled until email is verified. Please verify your email.
                if user.userRole == 'partner' && agency
                    if !agency.isVerified
                        p.mt-4
                            i.fa.fa-exclamation-triangle( aria-hidden='true' )
                            span Wish card creation feature is disabled for your account.
                            span It will be enabled after agency verification. This usually takes 1-2 business days. For a faster verification,
                                a( href='/contact' ) contact us.
                    else
                        .my-5.profile-panel.shadow
                            .row.justify-content-center.pt-4.mt-3.align-content-center
                                .col-md-4.col-xs-12.mb-5.text-center
                                    p.mb-4
                                        span Ask for a specific wish item
                                    a.button-accent( href='/wishcards/create' )  Create Wish Cards
                                .col-md-4.col-xs-12.mb-5.text-center
                                    p.mb-4
                                        span Review your existing wish cards
                                    a.button-primary( href='/wishcards/me' ) Manage Wish Cards
                                .col-md-4.col-xs-12.mb-5.text-center
                                    p.mb-4
                                        span Got any questions?
                                    a.button-secondary( href='/contact' ) Contact For Help

        if user.userRole == 'partner'
            .container
                .profile-panel.mb-5.shadow
                    img.profile-edit-icon( data-bs-toggle='modal'
                        data-bs-target='#agency-details-modal'
                        src='/svg/edit-profile.svg'
                        alt='Edit Agency Details'
                    )
                    .card-body
                        h2.pb-5 Agency Details
                        form#agencyDetails( method='POST' )
                            .row.justify-content-center.mb-4
                                .mb-2.col-lg-12.col-sm-12
                                    span.text-muted Agency name:
                                    span#agencyName.mx-2= agency.agencyName
                                    if agency.isVerified
                                        span.text-accent Verified
                                        i.fas.fa-check-circle( aria-hidden='true' )
                                    else
                                        span.text-accent Not Verified
                            .row.justify-content-center.mb-4
                                .mb-2.col-lg-12.col-sm-12
                                    span Agency description:
                                    if agency.agencyBio
                                        span#agencyBio.mx-2= agency.agencyBio
                                    else
                                        span.mx-2 Not provided
                            .row.justify-content-center.my-1
                                .mb-2.col-lg-6.col-sm-12
                                    p
                                        span Number of existing wish cards:
                                        span.mx-2= wishCardsLength
                                .mb-2.col-lg-6.col-sm-12
                                    p
                                        span Partner since:
                                        span.mx-2= agency.joined.toLocaleString().split(',')[0]
                            .row.justify-content-center.mt-1
                                .mb-2.col-lg-6.col-sm-12
                                    p
                                        span Contact number:
                                        span#agencyPhone.mx-2= agency.agencyPhone
                                .mb-2.col-lg-6.col-sm-12
                                    p
                                        span Website:
                                        span#agencyWebsite.mx-2.text-wrap= agency.agencyWebsite

                            if agency.agencyAddress.address1 != null
                                .pt-2.row.justify-content-center
                                    .mb-2.col-lg-6.col-sm-12
                                        p
                                            span Address line 1:
                                            span#address1.mx-2= agency.agencyAddress.address1
                                    .mb-2.col-lg-6.col-sm-12
                                        p
                                            span Address line 2:
                                            span#address2.mx-2= agency.agencyAddress.address2
                                .pt-2.row.justify-content-center
                                    .mb-2.col-lg-6.col-sm-12
                                        p
                                            span City:
                                            span#city.mx-2= agency.agencyAddress.city
                                    .mb-2.col-lg-6.col-sm-12
                                        p
                                            span State:
                                            span#state.mx-2= agency.agencyAddress.state
                                .pt-2.row.justify-content-center
                                    .mb-2.col-lg-6.col-sm-12
                                        p
                                            span Country:
                                            span#country.mx-2= agency.agencyAddress.country
                                    .col-lg-6.col-sm-12
                                        p
                                            span Zipcode:
                                            span#zipcode.mx-2= agency.agencyAddress.zipcode

        .container
            .profile-panel.my-4.shadow
                img.profile-edit-icon( data-bs-toggle='modal'
                    data-bs-target='#account-details-modal'
                    src='/svg/edit-profile.svg'
                    alt='Edit Account Details'
                )
                .card-body
                    h2.pb-5 Account Details
                    form#accountDetails( method='POST' )
                        .row.justify-content-center
                            .mb-2.col-lg-6.col-sm-12
                                p
                                    span First name:
                                    span#fName.mx-2= user.fName
                            .mb-2.col-lg-6.col-sm-12
                                p
                                    span Last name:
                                    span#lName.mx-2= user.lName
                        .row.justify-content-center
                            .mb-2.col-lg-6.col-sm-12
                                p
                                    span Your email:
                                    span#fName.mx-2= user.email
                            .col-lg-6.col-sm-12
                                p
                                    span Your role:
                                    span.mx-2= user.userRole
        .container.mt-5
            .row
                .col-md-6.mb-3
                    .profile-panel.card-block.shadow
                        .card-title
                            i.fa.fa-user( aria-hidden='true' )
                            span About Me
                            img#update-about-me.profile-edit-icon( data-bs-toggle='modal'
                                data-bs-target='#about-me-modal'
                                src='/svg/edit-profile.svg'
                                alt='Edit profile'
                            )
                        if user.aboutMe
                            .y-scroll
                                p#about-me.card-text.p-4= user.aboutMe
                        else
                            p#about-me.card-text.p-4 You have no description saved.
                .col-md-6.mb-3
                    .profile-panel.card-block.shadow
                        .card-title
                            i.fa.fa-gift( aria-hidden='true' )
                            span My Donations
                        .row.justify-content-center.py-2.mt-3
                            .col-auto.mb-2
                                a.button-secondary( href='/profile/donations' ) See My Donation History
            .row.mt-4
                .col-md-6.mb-3
                    .profile-panel.card-block.shadow.pb-2
                        .card-title
                            i.fas.fa-cogs( aria-hidden='true' )
                            span Settings
                        .row.justify-content-center.py-2.mt-3
                            .col-auto.mb-4
                                a.button-primary( href='/profile/password/reset/' ) Reset Password
                            .col-auto.mb-4
                                a.button-secondary( href='/profile/logout' ) Log Out
                .col-md-6
                    .profile-panel.card-block.shadow.pb-3
                        .card-title
                            i.fa.fa-users( aria-hidden='true' )
                            span Friends
                        p.card-text.p-4 You have invited 0 friends.

    input( type='hidden' name='_csrf' value=_csrf )

block modal
    #about-me-modal.modal.fade( tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true' )
        .modal-dialog.modal-dialog-centered.modal-lg( role='document' )
            .modal-content
                .modal-header
                    h5#exampleModalLongTitle.modal-title Edit about me
                    button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
                .modal-body
                    .container-fluid
                        if user.aboutMe
                            textarea#about-me-text.textarea-about-me= user.aboutMe
                        else
                            textarea#about-me-text.textarea-about-me
                .modal-footer.d-flex.justify-content-center
                    button#save-about-me-button.button-primary( type='button' data-bs-dismiss='modal' ) Save

    #account-details-modal.modal.fade( tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true' )
        .modal-dialog.modal-dialog-centered.modal-lg( role='document' )
            .modal-content
                .modal-header
                    h5#exampleModalLongTitle.modal-title.mx-2 Edit Account Details
                    button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
                .modal-body
                    .container-fluid
                        .row.justify-content-center.my-2
                            .mb-2.col-lg-6.col-sm-12
                                label( for='fName' ) First Name:
                                input#fName.mx-2.edit-input( type='text' name='fName' placeholder= user.fName )
                            .mb-2.col-lg-6.col-sm-12
                                label( for='lName' ) Last Name:
                                input#lName.mx-2.edit-input( type='text' name='lName' placeholder= user.lName )
                .modal-footer.d-flex.justify-content-center
                    button#save-account-details.button-primary( type='button' data-bs-dismiss='modal' ) Save

    if agency
        #agency-details-modal.modal.fade( tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true' )
            .modal-dialog.modal-dialog-centered.modal-lg( role='document' )
                .modal-content
                    .modal-header
                        h5#exampleModalLongTitle.modal-title.mx-2 Edit Agency Details
                        button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close' )
                    .modal-body
                        .container-fluid
                            .row.justify-content-center.my-2
                                label( for='agencyBio' ) Agency Description:
                                textarea#agencyBio.edit-input( name='agencyBio' placeholder=agency.agencyBio rows='3' )
                            .row.justify-content-center.my-2
                                label( for='agencyPhone' ) Contact Number:
                                input#agencyPhone.mx-2.edit-input( type='text' name='agencyPhone' placeholder= agency.agencyPhone )
                            .row.justify-content-center.my-2
                                label( for='agencyWebsite' ) Website:
                                input#agencyWebsite.mx-2.edit-input( type='text' name='agencyWebsite' placeholder= agency.agencyWebsite )
                            .row.justify-content-center.my-2
                                label( for='address1' ) Address Line 1:
                                input#address1.mx-2.edit-input( type='text' name='address1' placeholder= agency.agencyAddress.address1 )
                            .row.justify-content-center.my-2
                                label( for='address2' ) Address Line 2:
                                input#address1.mx-2.edit-input( type='text' name='address2' placeholder= agency.agencyAddress.address2 )
                            .row.justify-content-center.my-2
                                label( for='city' ) City:
                                input#city.mx-2.edit-input( type='text' name='city' placeholder= agency.agencyAddress.city )
                            .row.justify-content-center.my-2
                                label( for='state' ) State:
                                input#state.mx-2.edit-input( type='text' name='state' placeholder= agency.agencyAddress.state )
                            .row.justify-content-center.my-2
                                label( for='country' ) Country:
                                input#country.mx-2.edit-input( type='text' name='country' placeholder= agency.agencyAddress.country )
                            .row.justify-content-center.my-2
                                label( for='zipcode' ) Zipcode:
                                input#zipcode.mx-2.edit-input( type='text' name='zipcode' placeholder= agency.agencyAddress.zipcode )
                    .modal-footer.d-flex.justify-content-center
                        button#save-agency-details.button-primary( type='button' data-bs-dismiss='modal' ) Save

block scripts
    script.
        $(document).ready(() => {
            $('[placeholder]').focus(function() {
                const input = $(this);
                if (input.val() == input.attr('placeholder')) {
                    input.val('');
                    input.removeClass('placeholder');
                }
            }).blur(function() {
                const input = $(this);
                if (input.val() == '' || input.val() == input.attr('placeholder')) {
                    input.addClass('placeholder');
                    input.val(input.attr('placeholder'));
                }
            }).blur();

            $('#save-about-me-button').click(() => {
                const aboutMe = $('#about-me-text').val();
                const _csrf = $('input[name=_csrf]').val();

                $.ajax({
                    type: 'PUT',
                    url: '/profile',
                    data: { aboutMe, _csrf },
                    success: (response) => {
                        if (response.error) {
                            return showToast('Could not update about me info.');
                        }
                        showToast('Updated your info!', true);
                        $('#about-me').text(response.data);
                    },
                    error: (_) => {
                        showToast('Could not update about me info.');
                    }
                });
            });

            $('#save-account-details').click(() => {
                const fName = $('input#fName').val();
                const lName = $('input#lName').val();
                const _csrf = $('input[name=_csrf]').val();

                $.ajax({
                    type: 'PUT',
                    url: '/profile/account',
                    data: { fName, lName, _csrf },
                    success: (response) => {
                        if (response.error) {
                            return showToast('Error: Could not update account details');
                        }
                        showToast('Success: Updated your account details', true);
                        $('#fName').text(response.data.fName);
                        $('#lName').text(response.data.lName);
                    },
                    error: (_) => {
                        showToast('Error: Could not update account details');
                    }
                });
            });

            $('#save-agency-details').click(() => {
                const agencyBio = $('textarea#agencyBio').val();
                const agencyPhone = $('input#agencyPhone').val();
                const agencyWebsite = $('input#agencyWebsite').val();
                const address1 = $('input#address1').val();
                const address2 = $('input#address2').val();
                const city = $('input#city').val();
                const state = $('input#state').val();
                const country = $('input#country').val();
                const zipcode = $('input#zipcode').val();
                const _csrf = $('input[name=_csrf]').val();

                $.ajax({
                    type: 'PUT',
                    url: '/profile/agency',
                    data: { agencyBio, agencyPhone, agencyWebsite, address1, address2, city, state, country, zipcode, _csrf },
                    success: (response) => {
                        if (response.error) {
                            return showToast('Error: Could not update agency details');
                        }
                        showToast('Success: Updated your agency details', true);
                        $('#agencyBio').text(response.data.agencyBio);
                        $('#agencyPhone').text(response.data.agencyPhone);
                        $('#agencyWebsite').text(response.data.agencyWebsite);
                        $('#address1').text(response.data.address1);
                        $('#address2').text(response.data.address2);
                        $('#city').text(response.data.city);
                        $('#state').text(response.data.state);
                        $('#country').text(response.data.country);
                        $('#zipcode').text(response.data.zipcode);
                    },
                    error: (_) => {
                        showToast('Error: Could not update agency details');
                    }
                });
            });

            $('#agencyAddressCheckBox').click(function () {
                if ($(this).is(':checked')) {
                    const confirmation = confirm('Do you want to overwrite the address with agency address?');
                    if (confirmation === true) {
                        fetchAgencyData();
                    }
                }
            });

            const replaceImage = (imagePath) => {
                $('#profilePicture').attr('src', imagePath);
            };

            $('#buttonUploadImage').change(() => {
                const formData = new FormData();
                formData.append('profileImage', $(this).prop('files')[0]);

                if (buttonUploadImage.files[0]) {
                    $.ajax({
                        type: 'POST',
                        url: '/profile/picture',
                        headers: {
                            'x-csrf-token': $('input[name=_csrf]').val()
                        },
                        data: formData,
                        success: (response) => {
                            replaceImage(response.data);
                        },
                        error: (_) => {
                            showToast("Could not update profile picture");
                        }
                    });
                }
            });

            $('#buttonRemoveImage').click(() => {
                $.ajax('/profile/picture', {
                    type: 'DELETE',
                    url: '/profile/picture',
                    headers: {
                        'x-csrf-token': $('input[name=_csrf]').val()
                    },
                    success: (response) => {
                        replaceImage(response.data);
                    },
                    error: (_) => {
                        showToast("Could not remove profile picture");
                    }
                });
            });
        });