<!DOCTYPE html>
<html lang="en">
<head>
    <title>See Wish Card Details | Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>
</head>

<body>
<%- include('./templates/nav')-%>
<div class="bg" id="profile-bg">
    <div class="profile-title">
        <h1 id="cray-font">Details for Donation from <%= donation.donationDate %></h1>
    </div>
</div>
<!-- Wish Card deck -->
<div class="admin-donation">
    <div class="container">
        <div class="admin-wishcard-details">
            <h3>Wishcard Details</h3>

            Childname: <%= wishCard.childFirstName %> <%= wishCard.childLastName %><br>
            Birthday: <%= wishCard.childBirthday %><br>
            Wishitemname:  <%= wishCard.wishItemName %><br>
            Wishitemprice:  <%= wishCard.wishItemPrice %><br>
            Wishitemurl: <a href="<%= wishCard.wishItemURL %>"> <%= wishCard.wishItemURL %> </a><br>
            Deliverydate: <%= wishCard.deliveryDate %><br>
            Status: <%= wishCard.status %><br>
            Address: <%= JSON.stringify(wishCard.address, null, 2); %><br>

        </div>

        <div class="admin-agency-details">
            <h3>Agency Details</h3>

            Name: <%= agency.agencyName %><br>
            Website: <%= agency.agencyWebsite %><br>
            Phone:  <%= agency.agencyPhone %><br>
            Account Manager:<br>
                    <%= accountManager.fName %>  <%= accountManager.lName %><br>
                    <%= accountManager.email %><br>
            Address: <%= agency.agencyAddress %><br>

        </div>

        <div class="admin-donor-details">
            <h3>Donor Details</h3>

            Donor:<br>
            <%= donor.fName %>  <%= donor.lName %><br>
            <%= donor.email %><br>

        </div>
    </div>
</div>

<%- include('./templates/footer')-%>
<script src="/public/clientJS/adminWishCards.js"></script>
</body>
</html>
