<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Donate Gifts Community</title>
    <%- include('./templates/header')-%>

    <link rel="stylesheet" href="/public/css/community.css" />
  </head>

  <body>
    <%- include('./templates/nav')-%>
<section class="community">

  <div class="container">
     <div class="row mb-4">
       <div class="col-12">
        <% if (user && user.userRole == 'partner') { %>
         <div class="card border-white mt-5 mb-3 card-border">
           <div class="card-title quick-font border-bottom p-3">
             <h4>
               Post a message to your donors
             </h4>
            </div>
           <div class="card-body">
             <form id="communityPost" action="">
                <div class="row">
                  <div class="col-12 d-flex justify-content-start align-items-center">
                    <img src="../public/img/casa-la-logo.png" alt="logo" class="rounded float-left agency-profile d-inline mr-4">
                    <textarea id="postText" name="post-text" placeholder="Write a thank you message here"  class="form-control border border-white" rows="5" ></textarea>
                  </div>
                </div>
               <div class="row mt-4">
                 <div class="offset-md-6 col-md-6 d-flex align-items-center">
                  <div id="imagePreview"></div>
                   <div class="row">
                     <div class="col-sm-6 my-3 text-center">
                      <label for="postImage" class="wishcard__button--yellow mr-md-3 rounded-pill d-inline-block">
                        Upload Photo
                      </label>
                        <input id="postImage" type="file" hidden/>
                     </div>
                     <div class="col-sm-6 my-3 text-center">
                       <button type="submit" class="wishcard__button--blue rounded-pill d-inline-block">Create Post</button>
                     </div>
                   </div>
                 </div>
               </div>
             </form>
           </div>
         </div>
       
       </div>
       <% } %>
    </div>
    
     <div class="row pb-5">
      <% if (posts) { %> <% for (let i = 0; i < posts.length; i++) { %>
        <div class="col-md-6">
          <div class="card my-2 p-4 border-white card-border">
            <div class="card-title">
              <div class="row">
                <div class="col-12 ">
                  <img src="../public/img/casa-la-logo.png" alt="logo" class="rounded float-left mr-3 agency-profile">
                  <h4 class="quick-font"><%= posts[i].belongsTo.agencyName %></h4>
                  <span class="d-block">Posted on <%= moment(posts[i].createdAt).format('MMM-DD-YYYY') %></span>
                </div>
              </div>
              <div class="card-body">
                <p><%= posts[i].message %></p>
                <% if (posts[i].image) { %>
                 <img src="<%= posts[i].image %>" alt="logo" class="img-fluid">
                <% } %>
              </div>               
            </div>
          </div>
        </div>
      <% } %> <% } %>
     </div>
  </div>
</section>

    <%- include('./templates/footer')-%>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
    <script src="/public/clientJS/community.js"></script>
  </body>
</html>
