<!DOCTYPE html>
<html lang="en">

<head>
  <title>Donate Gifts Community</title>
  <%- include('./templates/header')-%>
  <link rel="stylesheet" href="/public/css/community.css" />
</head>

<body>
  <%- include('./templates/nav')-%>
  <section class="community">

    <div class="container">
  
      <div class="row mb-4">
        <div class="col-12">
          <% if (user && user.userRole == 'partner') { %>
          <div class="card border-white mt-5 mb-3 card-border">
            <div class="card-title quick-font border-bottom p-3">
              <h5 class="pl-3">
                Post a message to your donors
              </h5>
            </div>
            <div class="card-body">
              <form id="communityPost" action="">
                <div class="row">
                  <div class="col-12 d-flex justify-content-start align-items-center">
                    <img src="<%= agency.agencyProfileImage %>" alt="logo"
                      class="img-fluid rounded float-left agency-profile-logo d-inline mr-4">
                    <textarea id="postText" name="post-text" placeholder="Write a thank you message here"
                      class="form-control border border-white" rows="5"></textarea>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="offset-md-6 col-md-6 d-flex align-items-center">
                    <div id="imagePreview"></div>
                    <div class="row">
                      <div class="col-sm-6 text-center">
                        <label for="postImage" class="wishcard__button--yellow mr-md-3 rounded-pill d-inline-block">
                          Upload Photo
                        </label>
                        <input id="postImage" type="file" hidden />
                      </div>
                      <div class="col-sm-6 text-center">
                        <button type="submit" class="createPost_button mr-md-3 rounded-pill d-inline-block">Create
                          Post</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="container pb-5">
      <div class="card-columns">

        <!-- Hardcoded YouTube Video -->        
        <div class="card my-3 py-4 px-1 border-white card-border quick-font">
          <div class="row px-3">
            <div class="col-12">
              <img src="/public/img/fostering-hope-logo.jpg" alt="partner agency logo"
                class="img-fluid rounded float-left mr-2 post-logo">
              <h6 class="bold-text">Fostering Hope Foundation</h6>
            </div>
          </div>
          <div class="card-body">
            <div class="videoWrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/IUPDXnvnJCQ?autoplay=1" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <% if (posts) { %> <% for (let i = 0; i < posts.length; i++) { %>
        <div class="card my-3 py-4 px-1 border-white card-border quick-font">
          <div class="row px-3">
            <div class="col-12">
              <img src="<%= posts[i].belongsTo.agencyProfileImage %>" alt="partner agency logo"
                class="img-fluid rounded float-left mr-2 post-logo">
              <!--uncomment after testing <h4 class="quick-font"> posts[i].belongsTo.agencyName </h4> -->
              <h6 class="bold-text"><%= posts[i].belongsTo.agencyName %></h6>
            </div>
          </div>

          <div class="card-body">
            <span class="text-muted post-date">Posted on <%= moment(posts[i].createdAt).format('MMM-DD-YYYY') %></span>
            <p class="mt-2"><%= posts[i].message %></p>
            <% if (posts[i].image) { %>
            <img src="<%= posts[i].image %>" alt="agency posted image proof of gift delivery"
              class="img-fluid rounded-lg">
            <% } %>
          </div>
        </div>

        <% } %> <% } %>
      </div>
    </div>

  </section>

  <%- include('./templates/footer')-%>


  <script src="/public/clientJS/community.js"></script>
</body>

</html>