<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create a wish card | Donate Gifts</title>

  <%- include('./templates/header')-%>

  <link rel="stylesheet" href="/public/css/profile.css" />
  <link rel="stylesheet" href="/public/css/about.css" />
  <link rel="stylesheet" href="/public/css/loadingSpinner.css" />

  <!-- CDN jQuery -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

</head>

<body>
  <%- include('./templates/nav')-%>
  <%- include('./templates/formHelperModal')-%>
  <%- include('./templates/formHelperModal2')-%>
  <%- include('./templates/formHelperModal3')-%>
  <!-- Wish Card Form Section-->
  <div class="create-wish">
    <div class="container">
      <!-- wishCardForm starts here-->
      <form id="wishCardForm" action="/wishcards" method="POST" enctype="multipart/form-data">
        <h4>
          Create a wish card
        </h4>

        <div class="mt-2 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <div class="mb-2 col-lg-6 col-sm-12" data-validate="Name is required">
                <label for="childFirstName">Child's First Name</label>
                <input id="childFirstName" class="input-block" type="text" name="childFirstName"
                  placeholder="(Also allowed: nickname, alias)" />
              </div>
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="childLastName">Child's Last Name</label>
                <input id="childLastName" class="input-block" type="text" name="childLastName"
                  placeholder="(Also allowed: last initial)" />
              </div>
            </div>
            <div class="row mx-auto pt-3 my-1">
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="childBirthday">Child's Birthday</label>
                <input id="childBirthday" class="input-block" type="date" name="childBirthday"
                  placeholder="Child's Birthday" />
              </div>
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="childInterest">Child's Interest</label>
                <input id="childInterest" class="input-block" type="text" name="childInterest" placeholder="" />
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <div class="mb-2 col-lg-6 col-sm-12" data-validate="Name is required">
                <label for="wishItemName">Wish Item Name</label>
                <input id="wishItemName" class="input-block" type="text" name="wishItemName" placeholder="" />
              </div>
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="wishItemPrice">Wish Item Price (numeric only, round it up)</label>
                <a data-toggle="modal" data-target="#formQuestionHelper2">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>click for help
                </a>
                <input id="wishItemPrice" class="input-block" type="number" name="wishItemPrice"
                  placeholder="Price must be under $35" min="1" max="35" />
              </div>
            </div>

            <div class="row mx-auto my-1 pt-3">
              <div class="col-12">
                <label for="wishItemURL">Wish Item Amazon URL
                </label>
                <a data-toggle="modal" data-target="#formQuestionHelper">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>click for help
                </a>
                <input id="wishItemURL" class="input-block" type="text" name="wishItemURL"
                  placeholder="(Item page link https://www.amazon.....)" />
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <div class="mb-1 col-lg-6 col-sm-12" data-validate="Message is required">
                <label for="childStory">Share their story</label>
                <textarea id="childStory" class="input-block" name="childStory"
                  placeholder="(e.g. what's their story? why do they want this item? what's their favorite subject?)"
                  rows="6"></textarea>
              </div>
              <main class="mb-1 col-lg-6 col-sm-12">
                <label for="preview">Upload their photo</label>
                <p>
                  Required to use an image that is representative of the child. (Also allowed: masked faces, cropped or
                  blurred features, art or something they made, their wish item)
                  <a class="help-modal" data-toggle="modal" data-target="#formQuestionHelper3">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>click for help
                  </a>
                </p>
                <div class="uploader-left">
                  <img id="preview" src="/public/img/img-placeholder.png" alt="image-placeholder" />
                </div>
                <div class="uploader-right">
                  <!-- <span class="uploader-wrap"> -->
                  <input type="file" name="wishCardImage" id="filetag" class="uploader" />
                  <!-- </span> -->
                </div>
              </main>
            </div>
          </div>
        </div>

        <div class="mt-5 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <label class="mx-3">
                <input type="checkbox" id="agencyAddressCheckBox" class="mx-1" />
                Ship this wish item to my agency address
              </label>
            </div>

            <div class="row mx-auto my-1 pt-4">
              <div class="col-lg-4">
                <label for="address1">Address Line 1</label>
                <input id="address1" class="input-block" type="text" name="address1" placeholder="" />
              </div>
              <div class="col-lg-4">
                <label for="address2">Address Line 2</label>
                <input id="address2" class="input-block" type="text" name="address2"
                  placeholder="(e.g. unit or suite number)" />
              </div>
              <div class="col-lg-4">
                <label for="address_city">City</label>
                <input id="address_city" class="input-block" type="text" name="address_city" placeholder="" />
              </div>
            </div>

            <div class="row mx-auto my-1 pt-3">
              <div class="col-lg-4">
                <label for="address_state">State</label>
                <input id="address_state" class="input-block" type="text" name="address_state" placeholder="" />
              </div>
              <div class="col-lg-4">
                <label for="address_zip">Zipcode</label>
                <input id="address_zip" class="input-block" type="text" name="address_zip" placeholder="" />
              </div>
              <div class="col-lg-4">
                <label for="address_country">Country</label>
                <input id="address_country" class="input-block" type="text" name="address_country"
                  placeholder="(e.g. USA)" />
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5 pt-1">
          <p class="p-2 mt-2">Wish card will be published once reviewed and approved by DonateGifts</p>
        </div>  
        <div id="submit-btn" class="quick-font">
          <div id="loadingSpinner"></div>
          <button id="submitInput" class="button form-submit"><span class="button__text">Save</span></button>
        </div> 
      </form>
    </div>
  </div>

  <!-- Optional fields: deliveryDate and occasion will NOT be used for 2021 -->
  <!-- <div class="col-lg-6 ml-auto quick-font wrap-input1">
        <label for="deliveryDate">Set last date for the wish item delivery (skip if no deadline)</label>
        <input id="deliveryDate" class="input1" type="date" name="deliveryDate" />
      </div>
      <div class="col-lg-6 ml-auto quick-font wrap-input1">
        <label for="occasion">What's the occasion?</label>
        <input id="occasion" class="input1" type="text" name="occasion"
          placeholder="(e.g. holiday, birthday, graduation)" />
      </div> -->

  <%- include('./templates/footer')-%>
  <!-- js scripts -->
  <script src="/public/clientJS/createWishcard.js"></script>
</body>

</html>