<!DOCTYPE html>
<html lang="en">
<!-- TODO: before user can leave a message, check if user is signed in first, if not, redirect to log in -->

<head>
  <title>See Each Wish Card | Donate Gifts</title>
  <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
  <%- include('./templates/header')-%>
  <link rel="stylesheet" href="/public/css/wishCardFull.css" />
  <link rel="stylesheet" href="/public/css/stripe.css" />

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

</head>

<body>
  <%- include('./templates/nav')-%>

  <div class="container checkout">
    <div class="page-wrapper">

      <!-- Todo: need to pass agency website URL and link to name -->
      <div class="page-title mt-5">
        <h2 class="text-center cool-font grn-font">Wish Donation Secure Checkout</h2>
        <p class="quick-font"><span class="cap"><%= wishcard.childFirstName %></span>'s gift will be delivered to our partner agency,
          <a href="" target="_blank" class="cap grn-font"><%= agencyName %></a>, after confirmed payment.</p>
      </div>

      <!-- start of left panel -->
      <div class="receipt-info mt-5 quick-font">
        <p>From this donation, you will receive</p>
        <ul>
          <li>100% tax-deductible receipt & shipping details</li>
          <li>Notification with a delivery proof</li>
          <li>Message & photo from <%= wishcard.childFirstName %> if partner agency permits</li>
        </ul>
        <div class="row">
          <div class="col">
            <!-- fix: current image height might be too tall. 
            also we should plan to display item image 
            as a second image in the later version  -->
            <img class="img-fluid rounded-lg" src="<%= wishcard.wishCardImage %>" alt="wish card kid photo">
          </div>
        </div>
        <div>
          <p>Wish item: <%= wishcard.wishItemName %></p>
          <p>Item Price: $<%= wishcard.wishItemPrice %></p>
        </div>
      </div>
      <div class="stripe-section mt-5 quick-font">
        <div class="receipt">
          <p class="card-text" id="cardId" hidden><%= wishcard._id %></p>
          <p id="agencyName" class="card-text" hidden><%= agencyName %></p>
          <div class="pt-2 d-flex justify-content-between">
            <p>Subtotal</p>
            <p>$<%= wishcard.wishItemPrice %>.00</p>
          </div>
          <div class="pt-1 d-flex justify-content-between">
            <p>Shipping</p>
            <p><%= extendedPaymentInfo.shipping %></p>
          </div>
          <div class="pt-1 d-flex justify-content-between">
            <p>Processing Fee</p>
            <p>$<%= extendedPaymentInfo.processingFee %></p>
          </div>
          <div class="pt-1 d-flex justify-content-between">
            <p>Item sales tax</p>
            <p>$<%= extendedPaymentInfo.tax %></p>
          </div>
          <div class="pt-1 d-flex justify-content-between">
            <p>Total</p>
            <p>$<%= extendedPaymentInfo.totalItemCost %></p>
          </div>
        </div>
        <div class="support-donations">
          <p class="grn-font">Support Our Cause</p>
          <p>Add cash donation to sponsor our project <span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
          </svg> More Info</span></p>
          <button type="button" class="btn btn-outline-primary green">$5</button>
          <button type="button" class="btn btn-outline-primary green">$10</button>
          <button type="button" class="btn btn-outline-primary green">$50</button>
          <button type="button" class="btn btn-outline-primary green">$100</button>
          <button type="button" class="btn btn-outline-primary green">Amount</button>
        </div>
        <form action="stripe/create-payment-intent" method="post" id="payment-form">
          <div class="form-row mt-5">
            <div id="card-element" class="form-control"></div>
            <input class="CheckoutInput Input Input--empty" autocomplete="ccname" autocorrect="off" spellcheck="false" id="billingName" name="billingName" type="text" aria-invalid="false" value="">
            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
            <button id="submit" class="mt-3">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay</span>
            </button>
          </div>
          <!-- success msg show somewhere else not here -->
          <p class="result-message hidden">
            Payment succeeded
          </p>
          <!-- We'll put the error messages in this element -->
          <div id="card-errors" role="alert"></div>
        </form>
      </div>

      <div class="security-guarantee">
        <p class="quick-font">Secure Checkout Guaranteed</p>
        <img class="img-fluid" src="/public/img/secure-cards.png" alt="secure checkout images">
      </div>

    </div>
  </div>

  <%- include('./templates/footer')-%>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    let stripe = Stripe('<%= process.env.STRIPE_API %>');
  </script>
  <script src="/public/clientJS/stripe.js"></script>
</body>

</html>