<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180152810-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-180152810-1');
  </script>
  <title>Holiday Gift Donation | Donate Gifts to Foster Kids -Virtual Toy Drive</title>
  <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->

  <!-- Site SEO -->
  <meta name="description"
    content="How to help children in foster care | Send holiday birthday gifts to foster kids easily by using embedded Amazon delivery" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="children, gift, wish, foster, donate" />
  <%- include('./templates/header')-%>
  <!-- facebook login -->
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '<%- process.env.FB_APP_ID %>',
        cookie: true,
        xfbml: true,
        version: 'v8.0',
      });
      FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js';
      fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'facebook-jssdk');
  </script>

  <!-- google login -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="<%- process.env.G_CLIENT_ID %>" />
  <script src="/public/clientJS/login.js"></script>
  <!-- For hero header typing effect -->
  <script src="/public/clientJS/heroTyping.js"></script>
  <!-- TODO: I'm going to move main.min.css load to header and remove old custom css later -->
  <link rel="stylesheet" href="/public/dist/main.min.css">
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0"
    nonce="XBZR4Yw2"></script>
  <%- include('./templates/nav')-%> <%- include('./templates/wishCardDonateModal')-%>
  <!-- header section-->

  <div class="hero container-fluid d-flex justify-content-center align-items-center" id="home-bg">
    <div class="row">
      <div class="col-12">
        <h1>Send Gifts to
          <span class="typing" data-wait="2000"
            data-words='["Foster Children", "Homeless Youth", "Kids in Emergency Shelters"]'></span>
        </h1>
        <h4 class="hide">Every child should feel valued, remembered, and loved</h4>
        <h4 class="m-mobile">Donate holiday & birthday gifts to the kids who may not otherwise get one
        </h4>
        <a href="/wishcards" class="button button--inverted-green lg-text" id="btn-1">See Wish Cards</a>
        <a href="/howto" class="button button--green lg-text" id="btn-1">Super Easy Process</a>
      </div>
    </div>
  </div>

  <%- include('./templates/loginModal')-%>
  <%- include('./templates/homeSampleCards')-%>

  <div class="status-section container-fluid justify-content-center">
    <div class="status-info row-auto">
      <div class="col-md">
        <div class="circle text-center">
          <p id="status_christmas" class="status">
            <img class="wreath" src="../public/img/wreath-1.svg" alt="wreathpic">
            <span id="tilChristmas" class="status-numbers"> <%= christmasData.days %> </span>
            <span class="status-text"><%= christmasData.text %></span>
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="circle text-center">
          <p class="status">
            <img class="wreath2" src="../public/img/wreath-2.svg" alt="wreathpic">
            <% if(undonatedCards === 0) { %>
            <span class="status-numbers"> <%= donatedCards%> </span>
            <span class="status-text">children
              received <br /> their gifts!</span>
            <% } else { %>
            <span class="status-numbers"> <%= undonatedCards%> </span>
            <span class="status-text">children
              awaiting <br /> your donation</span>
            <% } %>
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="circle text-center">
          <p class="status">
            <img class="wreath3" src="../public/img/wreath-3.svg" alt="wreathpic">
            <span class="status-numbers"> <%= verifiedAgencies%> </span>
            <span class="status-text">agencies
              partnered </br>with DonateGifts</span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="partners-container mb-5">
    <h1 class="crayon-font home-wish-title mt-3">Our Partner Agencies</h1>
    <div class="container-fluid">
      <div class="small3">
        <ul class="small-ul px-0" data-small3="">
          <li>
            <a href="https://centraltexastableofgrace.org/" target="_blank">
              <img src="/public/img/central-texas-table-of-grace-logo.jpg" alt="Central Texas Table of Grace logo" />
            </a>
          </li>
          <li>
            <a href="https://onehopeunited.org/" target="_blank">
              <img src="/public/img/onehopeunited.png" alt="One Hope United logo" />
            </a>
          </li>
          <li>
            <a href="https://www.newalternativesnyc.org/" target="_blank">
              <img src="/public/img/new-alternatives-logo.png" alt="New Alternatives logo" /></a>
          </li>
          <li><img src="/public/img/childrens-aid-logo.svg" alt="Childrens Aid NYC Agency logo" /></li>
          <li>
            <a href="http://www.lacasanorte.org/" target="_blank">
              <img src="/public/img/la-casa-norte-logo.png" alt="La casa norte logo" /></a>
          </li>
          <li>
            <a href="https://www.yos.org/" target="_blank">
              <img src="/public/img/yos-logo-2.jpeg" alt="Youth Outreach Services logo" /></a>
          </li>
          <li>
            <img src="/public/img/partner-coalition-nyc.jpg" alt="Partner Coalition of NewYork City logo" />
          </li>
          <li>
            <a href="https://www.fosteringhopefoundation.org" target="_blank">
              <img src="/public/img/fostering-hope-logo.jpg" alt="Fostering Hope logo" /></a>
          </li>
          <li>
            <img src="/public/img/you-gotta-believe-logo.jpg" alt="You gotta believe logo" />
          </li>
          <li><img src="/public/img/penny-lane-logo.png" alt="Penny Lane Agency logo" /></li>
          <li><img src="/public/img/epworth-tran-logo.png" alt="Epworth Village logo" /></li>
          <li>
            <a href="https://www.echoesofhope.org/" target="_blank">
              <img src="/public/img/echoes-of-hope-logo.png" alt="Echoes of Hope logo" /></a>
          </li>
          <li>
            <a href="https://www.blueskiesforchildren.org/" target="_blank">
              <img src="/public/img/blue-sky-agency-logo.png" alt="Blue Skies for Children logo" /></a>
          </li>
          <li>
            <a href="https://casala.org/" target="_blank">
              <img src="/public/img/casa-la-logo.png" alt="CASA of Los Angeles logo" /></a>
          </li>
          <li>
            <a href="https://www.hartdistrict.org/" target="_blank">
              <img src="/public/img/hart-district-logo.png" alt="William Hart district logo" /></a>
          </li>
          <li>
            <a href="https://www.nyap.org/" target="_blank">
              <img src="/public/img/nyap-logo.png" alt="National Youth Advocate Program logo" /></a>
          </li>
        </ul>
        <span class="small-span"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
        <span class="small-span"><i class="fa fa-arrow-circle-left fa-2x"></i></span>
      </div>
    </div>
  </div>


  <!-- thank you section-->
  <div class="custom-wrapper py-5">
    <div class="container" id="about">
      <h4 id="grn-font" class="crayon-font display-4 mb-3 text-center">We Need Your Help</h4>
      <div class="row">
        <div class="col-md-6 order-1 p-5">
          <img src="/public/img/kids-cover.jpg" alt="donation drop off near me" class="img-fluid grn-box" />
        </div>
        <div class="col-md-6 text-center py-5 px-3">
          <p class="text-left subtext quick-font">
            500,000+ kids spend time in foster care each year and
            4.2M+ youth are homeless in the United States.
            For many of them, Christmas time can be sad and lonely because they are undergoing stressful situations.
            With your
            generosity and kindness, we are able to provide a moment of happiness to the kids who are in crisis. By
            creating this platform, we wish to provide effortless and convenient ways to share the joy of the
            holidays. <br />
            Your gifts make it possible to bring happiness to the kids.
          </p>
          <a href="/contact"><button type="button" class="button button--green quick-font" id="btn1">How To Contact
              Us</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- End of thank you section -->
  <%- include('./templates/footer')-%>

  <script>
    countdown = [];
    socket = io('<%= process.env.SOCKET_URL %>');
  </script>
  <!-- CDN Bootstrap.js, Popper.js, and jQuery -->
  <script src="/public/clientJS/wishCardRandom.js"></script>
  <script src="/public/clientJS/wishCardModal.js"></script>
  <!-- this is for the preloader -->
  <!-- <script>
      $(window).on('load', function () {
        $('.preloader').fadeOut(1500);
      });
    </script> -->
  <!--  this is for login toast -->
  <% if(!locals.user) { %>
  <script src="/public/clientJS/loginToast.js"></script>
  <% } %>
  <!--  this is for login toast -->
  <script src="/public/clientJS/partnerCarousel.js"></script>
</body>

</html>