<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180152810-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-180152810-1');
  </script>
  <title>Holiday Gift Donation | Donate Gifts to Foster Kids -Virtual Toy Drive</title>
  <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->

  <!-- Site SEO -->
  <meta name="description"
    content="How to help children in foster care | Send holiday birthday gifts to foster kids easily by using embedded Amazon delivery" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="children, gift, wish, foster, donate" />
  <%- include('./templates/header')-%>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0"
    nonce="XBZR4Yw2"></script>
<%- include('./templates/nav')-%> <%-
    include('./templates/wishCardDonateModal')-%>
  <!-- header section-->
  <div class="bg" id="home-bg">
    <div class="text">
      <h1 class="banner-h1 cool-font">Send Gifts<span class=""> To Foster Kids</span></h1>
      <h4 class="quick-font pb-1 hide">Every child should feel valued, remembered, and loved</h4>
      <h4 class="quick-font pb-1 hide">
        Donate holiday & birthday gifts to the kids who may not otherwise get one
      </h4>
      <a href="/wishcards"><button type="button" class="quick-font wishcard-btn inverted-grn-btn" id="btn1">
          See Wish Cards
        </button></a>

      <button type="button" class="quick-font wishcard-btn grn-btn" id="btn1" data-toggle="modal"
        data-target="#exampleModalCenter">
        Super Easy Process
      </button>
    </div>
  </div>

  <%- include('./templates/homeModal')-%> <%- include('./templates/homeSampleCards')-%>

  <!-- thank you section-->
  <div class="custom-wrapper" id="about">
    <div class="custom-row">
      <div class="custom-col custom-left">
        <img src="/public/img/kids-cover.jpg" alt="donation drop off near me" class="grn-box" />
      </div>
      <div class="custom-col custom-right">
        <h4 id="grn-font" class="crayon-font font-lg">We Need Your Help</h4>
        <p id="left-align" class="subtext quick-font">
          500,000+ kids spend time in foster care each year. 
          And 4.2M+ youth are homeless in the U.S.
          For many of them, Christmas time can be sad and lonely because they are undergoing
          stressful situations. With your generosity and kindness, we are able to provide a moment
          of happiness to the kids who are in crisis. By creating this platform, we wish to
          provide effortless and convenient ways to share the joy of the holidays.<br />
          Your gifts make it possible to bring happiness to the kids.
        </p>
        <p class="quick-font">Got any questions? We would love to hear from you.</p>
        <a href="/about"><button type="button" class="quick-font wishcard-btn grn-btn" id="btn1">
            How To Contact Us
          </button></a>
      </div>
    </div>
  </div>
  <!-- end of thank you section -->

  <div class="partners-container mb-5">
    <h1 class="crayon-font home-wish-title mt-3">Our Partner Agencies</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
          <div style="background: center / contain no-repeat url('/public/img/central-texas-table-of-grace-logo.png');"
            class="partner-img"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
          <div style="background: center / contain no-repeat url('/public/img/onehopeunited.png');" class="partner-img">
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
          <div style="background: center / contain no-repeat url('/public/img/new-alternatives-logo.png');"
            class="partner-img"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
          <div style="background: center / contain no-repeat url('/public/img/yos-org-logo.png');" class="partner-img">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
          <div style="background: center / contain no-repeat url('/public/img/partner-coalition-nyc.jpg');"
            class="partner-img"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
          <div style="background: center / contain no-repeat url('/public/img/fostering-hope-logo.jpg');"
            class="partner-img"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3">
          <div style="background: center / contain no-repeat url('/public/img/epworth-tran-logo.png');"
            class="partner-img"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3 pb-5">
          <div style="background: center / contain no-repeat url('/public/img/echoes-of-hope-logo.png');"
            class="partner-img"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="mb-2 pb-2"></div>

  <%- include('./templates/footer')-%>

  <!-- CDN Bootstrap.js, Popper.js, and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/public/clientJS/wishCardRandom.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
  </script>
  <script src="/public/clientJS/wishCardModal.js"></script>
  <!-- this is for the preloader -->
  <script>
    $(window).on('load', function () {
      $('.preloader').fadeOut(1500);
    });
  </script>
</body>

</html>
