<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180152810-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-180152810-1');
    </script>

    <!-- facebook login -->
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: '<%- fb_client_id %>',
          cookie: true,
          xfbml: true,
          version: 'v8.0',
        });

        FB.AppEvents.logPageView();
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>

    <!-- google login -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="<%- g_client_id %>" />

    <title>Sign Up to Donate Gifts</title>

    <%- include('./templates/header')-%>

    <link rel="stylesheet" href="/public/css/signup.css" />
  </head>
  <%- include('./templates/nav')-%>

  <body>
    <div id="fb-root"></div>
    <% if (locals.email) { %>
    <p><%= email%></p>
    <%}%>
    <div class="signup-bg">
      <div class="d-flex container justify-content-center mg-top-btm">
        <div class="wrap-box">
          <!-- form section -->
          <form class="signup" action="/users/login" method="post">
            <div class="sign-row lg title-text crayon-font mg-sm">
              <button class="userLogBtn">
                <a href="/users/login">Log In </a>
              </button>
              <span>OR</span>
              <button class="userLogBtn">
                <a href="/users/signup"> Sign Up</a>
              </button>
              <!-- <img class="img-inline" src="../img/line-gift-white.png" alt="line-art-gift-image"> -->
            </div>

            <div class="wrap-input mg-btm" data-validate="Email is required">
              <input
                required
                class="input-default quick-font"
                type="email"
                name="email"
                id="email"
                placeholder="Email : "
                title="example: username@xyz.com"
              />
            </div>

            <div class="wrap-input mg-btm2" data-validate="Password is required">
              <input
                required
                class="input-default quick-font"
                type="password"
                name="password"
                id="password"
                placeholder="Password : "
                pattern="(?=.*\d)(?=.*[a-z]).{8,}"
                title="Must contain at least one number and one lowercase letter, and at least 8 or more characters"
              />
            </div>

            <a href="/users/password/request/">Forgot Password?</a>

            <!-- submit button section -->
            <div class="container-form-btn">
              <button class="form-btn quick-font" type="submit">Log In</button>
            </div>
          </form>

          <div id="google-fb-login">
            <div class="d-flex justify-content-center">
              <div
                class="g-signin2 mt-3"
                data-width="228"
                data-longtitle="true"
                data-onsuccess="onSignIn"
              ></div>
            </div>
            <div class="d-flex justify-content-center">
              <div
                class="fb-login-button mt-3"
                data-size="large"
                data-button-type="login_with"
                data-layout="default"
                data-auto-logout-link="false"
                data-use-continue-as="false"
                data-scope="public_profile,email"
                data-onlogin="facebookLogin"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./templates/footer')-%>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <% if (locals.successNotification) { %>
    <script>
      showToast('<%= successNotification.msg%>');
    </script>
    <%}%> <% if (locals.errorNotification) { %>
    <script>
      showToast('<%= errorNotification.msg%>');
    </script>
    <%}%>
    <!-- google login -->
    <script>
      function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;

        $.post('/users/google-signin', {
          id_token,
        });
      }
    </script>
    <!-- facebook login -->
    <script>
      function facebookLogin(fbUser) {
        if (fbUser.authResponse && fbUser.status === 'connected') {
          var userName;
          var email;
          var id_token;
          FB.api('/me', 'GET', { fields: ['name', 'email'] }, function (response) {
            if (response.id) {
              $.ajax({
                type: 'POST',
                url: '/users/fb-signin',
                data: {
                  userName: response.name,
                  id_token: response.id,
                  email: response.email,
                },
                success: function () {},
                error: function (response) {
                  console.log(response);
                },
              });
            }
          });
        }
      }
    </script>
  </body>
</html>
