<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page | Donate Gifts</title>

    <%- include('./templates/header')-%>

    <!-- CDN jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- js scripts -->
    <script src="/public/clientJS/profile.js"></script>
  </head>

  <body>
    <%- include('./templates/nav')-%> <%- include('./templates/editAboutMeModal')-%>
    <!-- header section-->
    <div class="bg" id="profile-bg">
      <div class="profile-title">
        <h1 id="cray-font">Welcome <%= user.fName %></h1>
      </div>
    </div>

    <!-- profile content section-->
    <header class="profile-header quick-font">
      <div class="container justify-content-center">
        <% if (!user.emailVerified) { %>
        <p class="mt-5 text-danger notify">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"> </i>Your email is unverified.
          Some features are disabled until email is verified.
        </p>
        <% } %> <% if (user.userRole == 'partner' && locals.agency && (!agency.isVerified)) { %>
        <p class="mt-5 text-danger notify">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Wish card creation feature is disabled for your account. It will be enabled after agency
          verification. For a faster verification,
          <a href="mailto:donate.gifts.stacy@gmail.com" class="text-dark">click to email us</a>
        </p>
        <% } %> <% if (user.userRole == 'partner' && locals.agency && agency.isVerified) { %>
        <div class="user-info my-5">
          <h4 class="create-title pb-5">Create Wish Cards</h4>
          <div class="row justify-content-center">
            <div class="col-md-4 col-xs-12">
              <p><i class="fa fa-pencil"></i>Child has a specific wish item</p>
              <a href="#wishCardForm"
                ><button id="create-btn" type="button" class="wishcard-btn">
                  Create Wish Card From Scratch
                </button></a
              >
            </div>
            <div class="col-md-4 col-xs-12">
              <p>
                <i class="fa fa-bolt" aria-hidden="true"></i>Not sure which wish item to ask for?
              </p>
              <a href="/users/choose"
                ><button id="create-btn" type="button" class="wishcard-btn grn-btn">
                  Choose From Our Suggested List
                </button></a
              >
            </div>
            <div class="col-md-4 col-xs-12">
              <p>
                <i class="fa fa-question-circle" aria-hidden="true"></i>I have a question about this
              </p>
              <a href="mailto:donate.gifts.stacy@gmail.com"
                ><button id="create-btn" type="button" class="wishcard-btn">Email Us</button></a
              >
            </div>
          </div>
        </div>
        <%}%> <% if (user.userRole == 'partner') { %>
        <div class="org-wrapper my-5">
          <h4 class="pb-5 font-weight-bold">Organization Details</h4>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Name: <strong><%= agency.agencyName %></strong></p>
            <p class="col-md-4 col-xs-12">Description: <%= agency.agencyBio %></p>
          </div>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Phone Number: <%= agency.agencyPhone %></p>
            <p class="col-md-4 col-xs-12">Website: <%= agency.agencyWebsite %></p>
          </div>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Agency Verified: <%= agency.isVerified %></p>
            <p class="col-md-4 col-xs-12">Number of Wishcards: <%= agency.wishCards.length %></p>
          </div>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Agency Address: <%= agency.agencyAddress.address1 %></p>
            <p class="col-md-4 col-xs-12">Number Address 2: <%= agency.agencyAddress.address2 %></p>
          </div>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Agency City: <%= agency.agencyAddress.city %></p>
            <p class="col-md-4 col-xs-12">Agency State: <%= agency.agencyAddress.state %></p>
          </div>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Agency Country: <%= agency.agencyAddress.country %></p>
            <p class="col-md-4 col-xs-12">Number ZipCode: <%= agency.agencyAddress.zipcode %></p>
          </div>
        </div>
        <%}%>

        <div class="user-info my-5">
          <h4 class="pb-5 font-weight-bold">Account Details</h4>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">First Name: <%= user.fName %></p>
            <p class="col-md-4 col-xs-12">Last Name: <%= user.lName %></p>
          </div>
          <div class="row justify-content-around">
            <p class="col-md-4 col-xs-12">Email: <%= user.email %></p>
            <p class="col-md-4 col-xs-12">User Role: <%= user.userRole %></p>
          </div>
        </div>
      </div>
    </header>

    <div class="container mb-5">
      <div class="row">
        <div class="col-md-6 mb-3">
          <!-- about-me section -->
          <div class="card card-block">
            <h5 class="card-title">
              <i class="fa fa-user" aria-hidden="true"></i>About Me<img
                data-toggle="modal"
                data-target="#aboutMeModal"
                id="update-about-me"
                class="about-me-edit"
                src="/public/img/edit-profile.svg"
                alt="Edit profile"
              />
            </h5>

            <% if(user.aboutMe){ %>
            <p id="about-me" class="card-text p-4"><%= user.aboutMe %></p>
            <% } else{ %>
            <p id="about-me" class="card-text p-4">You have no description saved.</p>
            <% } %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-block">
            <h5 class="card-title"><i class="fa fa-gift" aria-hidden="true"></i>My Donations</h5>
            <p class="card-text p-4">You have made 0 donations.</p>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-6 mb-3">
          <div class="card card-block">
            <h5 class="card-title"><i class="fa fa-bell" aria-hidden="true"></i>Notifications</h5>
            <p class="card-text p-4">You have 0 messages.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-block">
            <h5 class="card-title"><i class="fa fa-users" aria-hidden="true"></i>Friends</h5>
            <p class="card-text p-4">You have invited 0 friends.</p>
          </div>
        </div>
      </div>
    </div>

    <% if (user.userRole == 'partner' && locals.agency && agency.isVerified) { %>
    <!-- Wish Card Form Section-->
    <div class="container-fluid">
      <div class="create-wish-card">
        <!-- wishCardForm starts here-->
        <form
          class="container-fluid"
          id="wishCardForm"
          action="/wishcards"
          method="POST"
          enctype="multipart/form-data"
        >
          <h4 class="crayon-font wish-card-form-title">
            Create a wish card for the<br />
            child or youth under your care
          </h4>

          <!-- <div class="row mb-5">
          <h6 class="col form-notification">
            For this method, you need to watch
            <a href="https://youtu.be/P4P6jEqTXs4" target="_blank" class="highlight text-success">this video</a>
            and create an Amazon list first. <br />

            We are developing new features to make the card creation much easier in the future.<br />
            Support us by continuing to use this process until then. Thank you.
          </h6>
        </div> -->

          <div class="row">
            <div class="col-lg-6 quick-font wrap-input1" data-validate="Name is required">
              <label for="childFirstName">Child's First Name</label>
              <input
                id="childFirstName"
                class="input1"
                type="text"
                name="childFirstName"
                placeholder="Nick name is also ok"
              />
            </div>

            <div class="col-lg-6 ml-auto quick-font wrap-input1">
              <label for="childLastName">Child's Last Name</label>
              <input
                id="childLastName"
                class="input1"
                type="text"
                name="childLastName"
                placeholder="Initial is also ok"
              />
            </div>

            <div class="col-lg-6 quick-font wrap-input1">
              <label for="childBirthday">Child's Birthday</label>
              <input
                id="childBirthday"
                class="input1"
                type="date"
                name="childBirthday"
                placeholder="Child's Birthday"
              />
            </div>

            <div class="col-lg-6 ml-auto quick-font wrap-input1">
              <label for="childInterest">Child's Interest</label>
              <input
                id="childInterest"
                class="input1"
                type="text"
                name="childInterest"
                placeholder="Write something that the child likes to do"
              />
            </div>

            <div class="col-lg-6 quick-font wrap-input1">
              <label for="wishItemName">Wish Item Name</label>
              <input
                id="wishItemName"
                class="input1"
                type="text"
                name="wishItemName"
                placeholder="(e.g. Lego Set, Elephant Toy, etc. )"
              />
            </div>

            <div class="col-lg-6 ml-auto quick-font wrap-input1">
              <label for="wishItemPrice">We limit the price to be under $30 (USD)</label>
              <input
                id="wishItemPrice"
                class="input1"
                type="number"
                name="wishItemPrice"
                placeholder="Wish Item Price (numeric only, round it up)"
                min="1"
                max="30"
              />
            </div>
            <!-- <a href="https://youtu.be/P4P6jEqTXs4" target="_blank" class="text-success">(Watch this video for
            help)</a> -->
            <div class="px-3 quick-font wrap-input1">
              <label for="wishItemURL">Wish Item Amazon URL </label>
              <input
                id="wishItemURL"
                class="input1"
                type="text"
                name="wishItemURL"
                placeholder="(copied product page hyperlink from the amazon search)"
              />
            </div>

            <div class="col-lg-6 ml-auto quick-font wrap-input1">
              <label for="deliveryDate"
                >Set last date for the wish item delivery (skip if no deadline)</label
              >
              <input id="deliveryDate" class="input1" type="date" name="deliveryDate" />
            </div>

            <div class="col-lg-6 ml-auto quick-font wrap-input1">
              <label for="occasion">What's the occasion?</label>
              <input
                id="occasion"
                class="input1"
                type="text"
                name="occasion"
                placeholder="(e.g. holiday, birthday, graduation)"
              />
            </div>

            <div class="col-lg-6 quick-font wrap-input1" data-validate="Message is required">
              <label for="childStory">Share their story</label>
              <textarea
                id="childStory"
                class="input1"
                name="childStory"
                placeholder="(e.g. why they want this gift, what their favorite subject is, or some info about the child. This helps donors to connect with the child.)"
              ></textarea>
            </div>

            <!-- Custom File Uploader  -->
            <main class="col-lg-6 ml-auto">
              <div class="box">
                <div class="content">
                  <p>
                    Photo is required; if confidentiality is an issue, try using a photo of their
                    hands making a heart, masked face, wearing sunglasses, cropping, etc.
                  </p>
                  <div class="uploader-left">
                    <img
                      id="preview"
                      src="/public/img/img-placeholder.png"
                      alt="image-placeholder"
                    />
                  </div>
                  <div class="uploader-right">
                    <!-- <input type="text" class="img-path" placeholder="Select wish card image"> -->
                    <span class="file-wrapper">
                      <input
                        type="file"
                        name="wishCardImage"
                        id="filetag"
                        class="uploader upload-btn btn-large btn-alpha"
                      />
                      <!-- <span class="upload-btn btn-large btn-alpha">Upload Image</span> -->
                    </span>
                  </div>
                </div>
              </div>
            </main>
          </div>

        <h6 class="quick-font pb-2">Shipping address (where to deliver this item?)</h6>
        <label><input type="checkbox" id="agencyAddressCheckBox"> Use agency address as shipping address</label>
        <div class="row">
          <div class="col-lg-4 quick-font wrap-input1">
            <label for="address1">Address Line 1</label>
            <input id="address1" class="input1" type="text" name="address1" placeholder="(e.g. 1004 Donate St.)">
          </div>
          <div class="col-lg-4 quick-font wrap-input1">
            <label for="address2">Address Line 2</label>
            <input id="address2" class="input1" type="text" name="address2" placeholder="(e.g. Suite 200)">
          </div>
          <div class="col-lg-4 quick-font wrap-input1">
            <label for="address_city">City</label>
            <input id="address_city" class="input1" type="text" name="address_city" placeholder="(e.g. Chicago )">
          </div>

          <div class="row pb-2">
            <div class="col-lg-4 quick-font wrap-input1">
              <label for="address_state">State</label>
              <input
                id="address_state"
                class="input1"
                type="text"
                name="address_state"
                placeholder="(e.g. Illinois )"
              />
            </div>
            <div class="col-lg-4 quick-font wrap-input1">
              <label for="address_zip">Zipcode</label>
              <input
                id="address_zip"
                class="input1"
                type="text"
                name="address_zip"
                placeholder="(e.g. 60640 )"
              />
            </div>
            <div class="col-lg-4 quick-font wrap-input1">
              <label for="address_country">Country</label>
              <input
                id="address_country"
                class="input1"
                type="text"
                name="address_country"
                placeholder="(e.g. USA )"
              />
            </div>
          </div>

          <div id="submit-btn" class="quick-font">
            <div class="contact1-form-btn">
              <input value="Submit" type="submit" class="contact1-form-btn" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <% } %> <%- include('./templates/footer')-%>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
