<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile Page | Donate Gifts</title>

  <%- include('./templates/header')-%>

  <link rel="stylesheet" href="/public/dist/profile.min.css" />

  <!-- CDN jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- js scripts -->
  <script src="/public/clientJS/profile.js"></script>
</head>

<body>
  <%- include('./templates/nav')-%> <%- include('./templates/editAboutMeModal')-%>
  <div class="profile">
    <!-- header section-->
    <div class="profile-welcome">
      <h1>Welcome <%= user.fName %></h1>
    </div>
    <!-- profile content section-->
    <header class="profile-header">
      <div class="container justify-content-center">
        <% if (!user.emailVerified) { %>
        <p class="mt-4">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"> </i>
          Some features are disabled until email is verified.
          Please verify your email.
        </p>
        <% } %> <% if (user.userRole == 'partner' && locals.agency && (!agency.isVerified)) { %>
        <p class="mt-4">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Wish card creation feature is disabled for your account. It will be enabled after agency
          verification. This usually takes 1-2 business days. For a faster verification,
          <a href="/contact">contact us.</a>
        </p>
        <% } %> <% if (user.userRole == 'partner' && locals.agency && agency.isVerified) { %>
        <!-- wish card CREATE buttons section-->
        <div class="my-5 profile-panel shadow">
          <h4 class="my-3">Let's Create Wish Cards</h4>
          <div class="row justify-content-center pt-4 mt-3 align-content-center">
            <div class="col-md-4 col-xs-12 mb-5 text-center">
              <p class="mb-4">
                <!-- <i class="fas fa-list" aria-hidden="true"></i> -->
                Not sure which wish item to ask for?
              </p>
              <a href="/users/choose" class="profile-button-inverted">Select from our list</a>
            </div>
            <div class="col-md-4 col-xs-12 mb-5 text-center">
              <p class="mb-4">
                <!-- <i class="fas fa-smile"></i> -->
                Child has a specific wish item</p>
              <a href="/wishcards/create" class="profile-button"> Create a wish card </a>
            </div>
            <div class="col-md-4 col-xs-12 mb-5 text-center">
              <p class="mb-4">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                Got any question?
              </p>
              <a href="/contact" class="profile-button-inverted">Contact for help</a>
            </div>
          </div>
        </div>

        <!-- wish card MANAGE buttons section-->
        <div class="my-5 profile-panel shadow">
          <h4 class="my-3">Let's Manage Wish Cards</h4>
          <div class="row justify-content-center pt-4 mt-3 align-content-center">
            <div class="col-md-4 col-xs-12 mb-5 text-center">
              <p class="mb-4">
                <!-- <i class="fas fa-list" aria-hidden="true"></i> -->
                Donated wish cards
              </p>
              <a href="/wishcards/me" class="profile-button-navy-inverted">Monitor Donation</a>
            </div>
            <div class="col-md-4 col-xs-12 mb-5 text-center">
              <p class="mb-4">
                <!-- <i class="fas fa-smile"></i> -->
                Review your existing wish cards</p>
              <a href="/wishcards/me" class="profile-button-navy">Manage wish cards</a>
            </div>
            <div class="col-md-4 col-xs-12 mb-5 text-center">
              <p class="mb-4">
                Check donors' messages
              </p>
              <a href="/wishcards/me" class="profile-button-navy-inverted">Read Messages</a>
            </div>
          </div>
        </div>

        <!-- Agency details section, partner users only-->
        <%}%> <% if (user.userRole == 'partner') { %>
        <div class="profile-panel my-5 shadow">
          <div class="card-body">
            <h4>Organization Details</h4>
            <p class="text-muted text-center pb-4">(edit feature coming soon)</p>
            <!-- TODO: -----------------------------------CHANGE THE ACTION ROUTE--------------------------------->
            <form id="accountDetails" action="/users/make-this-route-later" method="POST" enctype="multipart/form-data">
              <div class="row justify-content-center my-1">
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="agencyName">Agency Name: </label>
                  <input id="agencyName" class="mx-2 input-profile" type="text" name="agencyName"
                    placeholder="<%= agency.agencyName %>" />
                </div>
                <div class="mb-2 col-lg-6 col-sm-12">
                  <p>
                    Agency Verified: <span><%= agency.isVerified %></span>
                  </p>
                </div>
              </div>
              <div class="row justify-content-center my-1">
                <div class="mb-2 col-lg-6 col-sm-12">
                  <p>
                    Wish Cards Submitted: <span><%= wishCardsLength %></span>
                  </p>
                </div>
                <div class="mb-2 col-lg-6 col-sm-12">
                  <p>
                    Partner Since: <span><%= agency.joined.toLocaleString().split(',')[0] %></span>
                  </p>
                </div>
              </div>
              <!-- <div class="row justify-content-center mx-3 my-1">
                <div class="mb-2 col-lg-6 col-sm-12">
                  <p>
                    Wish Cards Approved: <span><%= activeWishcards.length %></span>
                  </p>
                </div>
                <div class="mb-2 col-lg-6 col-sm-12">
                  <p>
                    Wish Cards Donated: <span><%= inactiveWishcards.length %></span>
                  </p>
                </div>
              </div> -->
              <div class="row justify-content-center my-1">
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="agencyPhone">Contact Number: </label>
                  <input id="agencyPhone" class="mx-2 input-profile" type="text" name="agencyPhone"
                    placeholder="<%= agency.agencyPhone %>" />
                </div>
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="agencyWebsite">Website: </label>
                  <input id="agencyWebsite" class="mx-2 input-profile" type="text" name="agencyWebsite"
                    placeholder="<%= agency.agencyWebsite %>" />
                </div>
              </div>

              <% if (agency.agencyAddress.address1 != null) { %>
              <div class="pt-2 row justify-content-center my-1">
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="address1">Address Line 1: </label>
                  <input id="address1" class="mx-2 input-profile" type="text" name="address1"
                    placeholder="<%= agency.agencyAddress.address1 %>" />
                </div>
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="address2">Address Line 2: </label>
                  <input id="address2" class="mx-2 input-profile" type="text" name="address2"
                    placeholder="<%= agency.agencyAddress.address2 %>" />
                </div>
              </div>
              <div class="pt-2 row justify-content-center my-1">
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="city">City: </label>
                  <input id="city" class="mx-2 input-profile" type="text" name="city"
                    placeholder="<%= agency.agencyAddress.city %>" />
                </div>
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="state">State: </label>
                  <input id="state" class="mx-2 input-profile" type="text" name="state"
                    placeholder="<%= agency.agencyAddress.state %>" />
                </div>
              </div>
              <div class="pt-2 row justify-content-center my-1">
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="country">Country: </label>
                  <input id="country" class="mx-2 input-profile" type="text" name="country"
                    placeholder="<%= agency.agencyAddress.country %>" />
                </div>
                <div class="mb-2 col-lg-6 col-sm-12">
                  <label for="zipcode">ZipCode: </label>
                  <input id="zipcode" class="mx-2 input-profile" type="text" name="zipcode"
                    placeholder="<%= agency.agencyAddress.zipcode %>" />
                </div>
              </div>
              <%}%>
              <div class="row justify-content-center pt-2 my-1">
                <div class="col-12">
                  <label for="agencyBio">Agency Description: </label>
                  <textarea id="agencyBio" class="" name="agencyBio" placeholder="<%= agency.agencyBio %>"
              rows="3"></textarea>
          </div>
        </div>
        </form>
      </div>
  </div>
  <%}%>



<div class="profile-panel my-4 shadow">
<div class="card-body">
<h4 class="pb-5">Account Details</h4>
<!-- TODO: -----------------------------------CHANGE THE ACTION ROUTE--------------------------------->
<form id="accountDetails" action="/users/make-this-route-later" method="POST"
enctype="multipart/form-data">
<div class="row justify-content-center my-1">
<div class="mb-4 col-lg-6 col-sm-12">
<label for="fName">First Name: </label>
<input id="fName" class="mx-2 input-profile" type="text" name="fName"
  placeholder="<%= user.fName %>" />
  </div>
  <div class="mb-4 col-lg-6 col-sm-12">
    <label for="lName">Last Name: </label>
    <input id="lName" class="mx-2 input-profile" type="text" name="lName" placeholder="<%= user.lName %>" />
  </div>
  </div>
  <div class="row justify-content-center my-1">
    <div class="mb-4 col-lg-6 col-sm-12">
      <label for="email">Your Email: </label>
      <input id="fName" class="mx-2 input-profile" type="text" name="fName" placeholder="<%= user.email %>" />
    </div>
    <div class="col-lg-6 col-sm-12">
      <p>
        Your Role: <span><%= user.userRole %></span>
      </p>
    </div>
  </div>
  </form>
  </div>
  </div>

  </div>
  </header>

  <!-- profile photo section commented out 
      function is not working -->
  <!-- <div class="d-flex justify-content-center">    
      <div class="col-md-6 mb-3">
        <div class="card card-block">
          <div class="profile-picture-card">
            <h5>Profile picture</h5> -->
  <!-- <% if(!user.profileImage){ %>
              <img id="profilePicture" class="profile-picture" src="/public/img/default_profile_avatar.svg"/>
              <% } else{ %>
              <img id="profilePicture" class="profile-picture" src="<%= user.profileImage %>"/>
            <% } %> -->
  <!-- <div class="profile-picutre-button-container">
              <input id="buttonUploadImage" name="img" type="file" accept="image/*" hidden />
              <label class="button-upload-image" for="buttonUploadImage">Upload image</label>
              <button class="button-upload-image button-delete-image" id="buttonRemoveImage">Remove image</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  <div class="container pb-5">
    <div class="row">
      <div class="col-md-6 mb-3">
        <!-- about-me section -->
        <div class="profile-panel card-block shadow">
          <h5 class="card-title">
            <i class="fa fa-user" aria-hidden="true"></i>About Me<img data-toggle="modal" data-target="#aboutMeModal"
              id="update-about-me" class="about-me-edit" src="/public/img/edit-profile.svg" alt="Edit profile" />
          </h5>
          <% if(user.aboutMe){ %>
          <div class="y-scroll">
            <p id="about-me" class="card-text p-4"><%= user.aboutMe %></p>
          </div>
          <% } else{ %>
          <p id="about-me" class="card-text p-4">You have no description saved.</p>
          <% } %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-panel card-block shadow">
          <h5 class="card-title pb-2"><i class="fa fa-gift" aria-hidden="true"></i>My Donations</h5>
          <div class="row justify-content-center py-2 my-3">
            <div class="col-auto">
              <a href="/users/profile/donations" class="profile-button-navy">See My Donation History</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6 mb-3">
        <div class="profile-panel card-block shadow pb-2">
          <h5 class="card-title"><i class="fas fa-cogs" aria-hidden="true"></i>Settings</h5>
          <div class="row justify-content-center py-2 mt-3">
            <div class="col-auto mb-4">
              <a href="/users/password/request/" class="profile-button-navy">Reset Password</a>
            </div>
            <div class="col-auto mb-4">
              <a href="/users/logout" class="profile-button-navy-inverted">Log Out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-panel card-block shadow pb-3">
          <h5 class="card-title"><i class="fa fa-users" aria-hidden="true"></i>Friends</h5>
          <p class="card-text p-4">You have invited 0 friends.</p>
        </div>
      </div>
    </div>
  </div>

  </div>
</body>

</html>