<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180152810-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-180152810-1');
    </script>
    <title>Request new Password</title>

    <%- include('./templates/header')-%>
  </head>
  <%- include('./templates/nav')-%>

  <body>
    <div class="signup-bg">
      <div class="d-flex container justify-content-center mg-top-btm">
        <div class="wrap-box">
          <!-- form section -->
          <form class="request" action="/users/password/request" method="post">
            <div class="wrap-input mg-btm" data-validate="Email is required">
              <input
                required
                class="input-default quick-font"
                type="email"
                name="email"
                id="email"
                placeholder="Email : "
                title="example: username@xyz.com"
              />
            </div>

            <!-- submit button section -->
            <div class="container-form-btn">
              <button class="form-btn quick-font" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./templates/footer')-%>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/clientJS/utils.js"></script>
    <script src="/public/clientJS/requestPassword.js"></script>
    <% if (locals.successNotification) { %>
    <script>
      showToast('<%= successNotification%>');
    </script>
    <%}%> <% if (locals.errorNotification) { %>
    <script>
      showToast('<%= errorNotification%>');
    </script>
    <%}%>
  </body>
</html>
