<!DOCTYPE html>
<html lang="en">
<!-- TODO: before user can leave a message, check if user is signed in first, if not, redirect to log in -->

<head>
  <title>See Each Wish Card | Donate Gifts</title>
  <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
  <%- include('./templates/header')-%>
  <link rel="stylesheet" href="/public/css/successPayment.css" />

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

</head>

<body>
  <%- include('./templates/nav')-%>

  <div class="container-fluid">
      <section id="donation" class="row justify-content-md-center flex-column">
        <section id="donationConfirmation" class="justify-content-md-center ">
          <div class="more-wishcards-container">
            <img id="success-payment-logo" class="center-block" src="/public/img/payments_success_checkmark.svg"/>
          </div>
          
          <h4 id="grn-font" class="crayon-font display-4 mb-3 text-center">Thank you for your donation!</h4>
          <p class="display-5 mb-6 text-center donation-successful-message">Your payment was successfull and we are processing your now</p>
          <div class="more-wishcards-container">
            <button type="button" class="button button--green center quick-font center-block">See more Wish Cards</button>
          </div>
        </section>
        <section id="donationInfo" class="justify-content-md-center">
          <div class="donation-info-labels">
            <p class="display-5 mb-6 text-center ">Confirmation will be sent to</p>
            <p class="display-5 mb-6 text-center">Donation order date</p>
            <p class="display-5 mb-6 text-center">Donated wish item</p>
            <p class="display-5 mb-6 text-center">Donated total amount</p>
          </div>
          <div class="donation-info-label-value">
            <p class="display-5 mb-6 text-center "><%= donationInformation.email %></p>
            <p class="display-5 mb-6 text-center "><%= donationInformation.orderDate %></p>
            <p class="display-5 mb-6 text-center "><%= donationInformation.itemName %></p>
            <p class="display-5 mb-6 text-center "><%= donationInformation.totalAmount %>$</p>
          </div>
         
        </section>
        <section id="donationConfirmation" class="justify-content-md-center">
          <div class="list-item-title-container">
            <p class="">From this donation, you will recieve:</p>
          </div>
          <div class="list-item-container">
            <ul id="donation-bulletin" class="list-items">
              <li class="display-5 mb-6 text-center li-item">100% tax-deductible receipt & shipping details</li> 
              <li class="display-5 mb-6 text-center li-item">Notification with a delivery proof</li>
              <li class="display-5 mb-6 text-center li-item">Message & photo from <%= donationInformation.childName %> if partner agency permits</li>
            </ul>
          </div>
        </section>
      </section>
     
  </div>

  <%- include('./templates/footer')-%>
  
</body>

</html>