<!DOCTYPE html>
<html lang="en">
  <head>
    <title>See Wish Cards | Donate Gifts</title>
    <!-- ** NOTE: CDN Bootstrap.js, Popper.js, and jQuery are moved to the bottom so the page loads faster-->
    <%- include('./templates/header')-%>
    <link rel="stylesheet" href="/public/css/search.css" />
    <script src="/public/clientJS/utils.js"></script>

    <!-- facebook login -->
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: '<%- process.env.FB_APP_ID %>',
          cookie: true,
          xfbml: true,
          version: 'v8.0',
        });
        FB.AppEvents.logPageView();
      };
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>

    <!-- google login -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="<%- process.env.G_CLIENT_ID %>" />
    <script src="/public/clientJS/loginModal.js"></script>
    <script src="/public/clientJS/socialLogin.js"></script>
  </head>

  <body>
    <%- include('./templates/loginModal')-%> <%- include('./templates/nav')-%> <%-
    include('./templates/wishCardDonateModal')-%>

    <!-- Wish Card deck -->
    <div class="wishcards">
      <!-- Search Bar -->
      <div class="container">
          <!-- Search form -->
          <form id="searchBar" action="/wishcards/search" method="POST">
            <div class="search-bar-container d-flex flex-column flex-sm-row">
              <div class="card card-sm flex-fill">
                <div class="card-body row no-gutters align-items-center">
                  <div class="col-auto">
                    <i class="fa fa-search h4 text-body" aria-hidden="true"></i>
                  </div>
                  <div class="col">
                    <input
                      class="form-control form-control-lg form-control-borderless"
                      type="search"
                      name="wishitem"
                      placeholder="Search"
                    />
                  </div>
                  <div class="col-auto">
                    <button class="wishcard__button--blue button-search d-flex align-items-center" type="submit">
                      <span class="search-button-text d-none d-sm-block">Search</span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg></button>
                  </div>
                </div>
              </div>
              <button
                    type="button"
                    class="wishcard__button--yellow button-filter"
                    style="width: auto"
                    data-toggle="collapse"
                    data-target="#filter-panel"
                  >
                  Filter by <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                  </svg>
              </button>
            </div>
            <div class="col mt-3">
              <div class="row">
                <div id="filter-panel" class="collapse filter-card ml-auto">
                  <div class="card">
                    <div class="card-body d-flex align-items-center flex-column flex-sm-row justify-content-between">
                      <div class="form-group-container d-flex flex-column flex-sm-row flex-fill justify-content-around">
                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" name="age" id="child-age-radio-younger" value="14" checked type="radio" style="margin-right: 10px" />
                            <label class="form-check-label" for="child-age-radio-younger">
                              Age Under 15
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" name="age" id="child-age-radio-older" value="15" type="radio" style="margin-right: 10px" />
                            <label class="form-check-label" for="child-age-radio-older">
                              Age 15 And Older
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" style="margin-right: 10px" name="donated" />
                              Exclude Donations
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" style="margin-right: 10px" name="donated" />
                              Recently Added
                            </label>
                          </div>
                        </div>
                      </div>
                      <button class="wishcard__button--blue button-apply" type="submit"><span class="apply-button-text">Apply</span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                      </svg></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>


      <div class="container">
        <p class="quick-font loading">Loading wishcards</p>
        <div id="wishcard-container" class="row justify-content-center">
          <!-- jquery injected wishcards -->
        </div>
        <div class="row justify-content-center">
          <button
            id="load-more"
            type="button"
            class="quick-font wishcard__link--white bdr-2"
            style="width: auto"
          >
            Load more
          </button>
        </div>
      </div>
    </div>

    <%- include('./templates/footer')-%>
    <script>
      // DON'T REMOVE
      countdown = [];
      <% for (let i = 0; i < wishcards.length; i++) { %>
        <% if (wishcards[i].status === 'donated') { %>
          $(document).find('#donate-btn-' + '<%= wishcards[i]._id %>').text('Donated!');
          $(document).find('#donate-btn-' + '<%= wishcards[i]._id %>').prop('disabled', true);
        <% } %>

        <% if (new Date(wishcards[i].isLockedUntil) > new Date()) { %>
          addCountdown('<%= wishcards[i].isLockedUntil %>', '<%= wishcards[i]._id %>', '#donate-btn-<%= wishcards[i]._id %>')
        <% } %>
      <% } %>
    </script>
    <script src="/public/clientJS/wishCard.js"></script>
    <script src="/public/clientJS/wishCardModal.js"></script>
    <!--  this is for login toast -->
    <% if(!locals.user) { %>
    <script src="/public/clientJS/loginToast.js"></script>
    <% } %>
  </body>
</html>
