<!DOCTYPE html>
<html lang="en">

<head>
  <title>See Each Wish Card | Donate Gifts</title>
  <%- include('./templates/header')-%>
  <link rel="stylesheet" href="/public/dist/wishcards.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/public/clientJS/wishCardFullPage.js"></script>
</head>


<body>
  <%- include('./templates/nav')-%>
  <%- include('./templates/logInModal')-%>

  <div class="wishpage pb-5">
    <div class="row pt-5 pb-2 mx-auto">
      <h1><%= wishcard.childFirstName %>'s Wish Page</h1>
    </div>

    <div class="text-center">
      <% if (wishcard.status === 'donated') { %>
      <button type="button" id="donate-btn" class="btn-disabled-long" disabled aria-disabled="true">
        Donated </button>
      <% } else if (user){ %>
      <a type="button" id="donate-btn" class="donate-btn" href="donate/<%= wishcard._id %>">
        Donate Gift
      </a>
      <% } else { %>
      <button type="button" id="donate-btn" data-toggle="modal" class="btn-orange-navy-lg-long"
        data-target="#logInModal">
        Donate Gift
      </button>
      <% } %>
    </div>

    <div class="row">
      <img class="mt-3 shadow" src="<%= wishcard.wishCardImage %>" alt="<%= wishcard.wishItemName %>" loading="lazy" />
    </div>

    <div class="wrapper tinted shadow p-5 mt-5 rounded mx-auto">
      <h3 class="pb-4">My Wish Item</h3>
      <p><span class="font-weight-bold">Wish Item :</span> <%= wishcard.wishItemName %></p>
      <p><span class="font-weight-bold">Item Price :</span> $<%= wishcard.wishItemPrice %></p>
    </div>

    <div class="wrapper tinted shadow p-5 mt-5 rounded mx-auto">
      <h3 class="pb-4">About <%= wishcard.childFirstName %></h3>
      <p id="age"><span class="font-weight-bold">My Age :</span> <%= wishcard.age %></p>
      <p><span class="font-weight-bold">My Interest :</span> <%= wishcard.childInterest %></p>
      <p><span class="font-weight-bold">My Story :</span> <%= wishcard.childStory %></p>
    </div>

    <div class="wrapper tinted shadow p-5 mt-5 rounded mx-auto">
      <h3 class="pb-4">Agency Info</h3>
      <p><i class="fas fa-building"></i><%= agency.agencyName %></p>
      <% if (agency.agencyAddress) { %>
      <p><i class="fas fa-map-marker-alt"></i><%= agency.agencyAddress.city? agency.agencyAddress.city : null%>, <%= agency.agencyAddress.state? agency.agencyAddress.state : null %>, <%= agency.agencyAddress.zipcode? agency.agencyAddress.zipcode : null %></p>
      <% } %>
      <% if (agency.agencyPhone) { %>
      <p><i class="fas fa-phone-alt"></i><%= agency.agencyPhone %></p>
      <% } %>
      <% if (agency.agencyWebsite) { %>
        <p><a href="<%= agency.agencyWebsite %>" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i><%= agency.agencyWebsite %></a></p>
      <% } %>
      <% if (agency.agencyBio) { %>
        <p><i class="fas fa-address-card"></i><%= agency.agencyBio %></p>
      <% } %>
    </div>


      <% if (user) { %>
        <div class="wrapper tinted shadow p-5 mt-5 rounded mx-auto">
          <h3 class="pb-4">Send <%= wishcard.childFirstName %> a message</h3>
          <p class="card-text">Select a message to send</p>
          <form class="message text-center" action="/wishcards/message" method="post">
            <select class="custom-select">
              <option selected>Messages</option>
              <% for (let i = 0; i < defaultMessages.length; i++) { %>
              <option value="<%= i %>"><%= defaultMessages[i] %></option>
              <% } %>
            </select>
            <input type="submit" id="submit" class="mt-4 btn-orange-navy-lg" value="Send Message" />
          </form>
        </div>

      <% } %>
    

    <div class="wrapper tinted shadow p-5 mt-5 rounded mx-auto">
      <h3 class="pb-4">Message Board</h3>
      <% if (messages.length === 0) { %>
        <p>
          No one signed <%= wishcard.childFirstName %>'s card yet. 
          Log in and send a message.
        </p>
        <% } else { %>
        <div>
          <% for (let i = 0; i < messages.length; i++) { %>
            <div class="msg-each">
              <p class="mx-3"><i class="far fa-comment-dots"></i> "<%= messages[i].message %>"</p>
              <p class="mx-5"><span class="font-weight-bold">Sent by: </span><%= messages[i].messageFrom.fName %></p>
            </div>
          <% } %>
        </div>
        <% } %>
    </div>

  </div>

  <%- include('./templates/loginModal.ejs') %>
  <%- include('./templates/footer')-%>
  <script>
    let messageFrom = `<%- JSON.stringify(user) %>`;
    let messageTo = `<%- JSON.stringify(wishcard) %>`;
  </script>
</body>

</html>