<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Wishcard Page | Donate Gifts</title>

  <%- include('./templates/header')-%>

  <link rel="stylesheet" href="/public/css/profile.css" />
  <link rel="stylesheet" href="/public/css/about.css" />

  <!-- js scripts -->
  <script src="/public/clientJS/wishcardEdit.js"></script>
</head>

<body>
  <%- include('./templates/nav')-%>
  
  <!-- Wish Card Form Section-->
  <div class="container-fluid">
    <div class="create-wish-card">
      <!-- wishCardForm starts here-->
      <form class="container-fluid" id="wishCardForm" action="/wishcards/edit/<%= wishcard._id %>" method="POST" enctype="multipart/form-data">
        <h4 class="crayon-font wish-card-form-title">
          Edit wish card for the<br />
          child or youth under your care
        </h4>
        <!-- <div class="row mb-5">
          <h6 class="col form-notification">
            For this method, you need to watch
            <a href="https://youtu.be/P4P6jEqTXs4" target="_blank" class="highlight text-success">this video</a>
            and create an Amazon list first. <br />

            We are developing new features to make the card creation much easier in the future.<br />
            Support us by continuing to use this process until then. Thank you.
          </h6>
        </div> -->

        <div class="mt-2 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <div class="mb-2 col-lg-6 col-sm-12" data-validate="Name is required">
                <label for="childFirstName">Child's First Name</label>
                <input id="childFirstName" class="input-block" type="text" name="childFirstName"
                <% if (wishcard.childFirstName) { %>
                value="<%= wishcard.childFirstName %>"
                <% } else { %>
                placeholder="(Also allowed: nickname, alias)"
                <% } %>
                />
              </div>
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="childLastName">Child's Last Name</label>
                <input id="childLastName" class="input-block" type="text" name="childLastName"
                <% if (wishcard.childLastName) { %>
                value="<%= wishcard.childLastName %>"
                <% } else { %>
                    placeholder="(Also allowed: last initial)"
                <% } %>
                />
              </div>
            </div>
            <div class="row mx-auto pt-3 my-1">
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="childBirthday">Child's Birthday</label>
                <input id="childBirthday" class="input-block" type="date" name="childBirthday"
                <% if (childBirthday) { %>
                value="<%= childBirthday %>"
                <% } else { %>
                    placeholder="Child's Birthday"
                <% } %>
                />
              </div>
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="childInterest">Child's Interest</label>
                <input id="childInterest" class="input-block" type="text" name="childInterest" 
                <% if (wishcard.childInterest) { %>
                value="<%= wishcard.childInterest %>"
                <% } else { %>
                    placeholder=""
                <% } %>
                />
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <div class="mb-2 col-lg-6 col-sm-12" data-validate="Name is required">
                <label for="wishItemName">Wish Item Name</label>
                <input id="wishItemName" class="input-block" type="text" name="wishItemName"
                <% if (wishcard.wishItemName) { %>
                value="<%= wishcard.wishItemName %>"
                <% } else { %>
                    placeholder=""
                <% } %>
                />
              </div>
              <div class="mb-2 col-lg-6 col-sm-12">
                <label for="wishItemPrice">Wish Item Price (numeric only, round it up)</label>
                <a data-toggle="modal" data-target="#formQuestionHelper2">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>click for help
                </a>
                <input id="wishItemPrice" class="input-block" type="number" name="wishItemPrice"
                <% if (wishcard.wishItemPrice) { %>
                    value="<%= wishcard.wishItemPrice %>"
                <% } else { %>
                    placeholder="Price must be under $35"
                <% } %>
                    min="1" max="35" />
              </div>
            </div>

            <div class="row mx-auto my-1 pt-3">
              <div class="col-12">
                <label for="wishItemURL">Wish Item Amazon URL
                </label>
                <a data-toggle="modal" data-target="#formQuestionHelper">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>click for help
                </a>
                <input id="wishItemURL" class="input-block" type="text" name="wishItemURL"
                <% if (wishcard.wishItemURL) { %>
                value="<%= wishcard.wishItemURL %>"
                <% } else { %>
                    placeholder="(Item page link https://www.amazon.....)"
                <% } %>
                />
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <div class="mb-1 col-12" data-validate="Message is required">
                <label for="childStory">Share their story</label>
                <textarea id="childStory" class="input-block" name="childStory"
                <% if (wishcard.childStory) { %>
                value="<%= wishcard.childStory %>"
                <% } else { %>
                    placeholder="(e.g. what's their story? why do they want this item? what's their favorite subject?)"
                <% } %>                
                  rows="6"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 card shadow">
          <div class="card-body">
            <div class="row mx-auto my-1">
              <label class="mx-3">
                <input type="checkbox" id="agencyAddressCheckBox" class="mx-1" />
                Ship this wish item to my agency address
              </label>
            </div>

            <div class="row mx-auto my-1 pt-4">
              <div class="col-lg-4">
                <label for="address1">Address Line 1</label>
                <input id="address1" class="input-block" type="text" name="address1"
                <% if (wishcard.address1) { %>
                    value="<%= wishcard.address.address1 %>"
                <% } else { %>
                    placeholder="" 
                <% } %>
                />
              </div>
              <div class="col-lg-4">
                <label for="address2">Address Line 2</label>
                <input id="address2" class="input-block" type="text" name="address2"
                <% if (wishcard.address2) { %>
                    value="<%= wishcard.address.address2 %>"
                <% } else { %>
                    placeholder="(e.g. unit or suite number)"
                <% } %>
                />
              </div>
              <div class="col-lg-4">
                <label for="address_city">City</label>
                <input id="address_city" class="input-block" type="text" name="address_city"
                <% if (wishcard.address_city) { %>
                    value="<%= wishcard.address.address_city %>"
                <% } else { %>
                    placeholder="(e.g. Chicago)"
                <% } %>
                />
              </div>
            </div>

            <div class="row mx-auto my-1 pt-3">
              <div class="col-lg-4">
                <label for="address_state">State</label>
                <input id="address_state" class="input-block" type="text" name="address_state"
                <% if (wishcard.address_state) { %>
                    value="<%= wishcard.address.address_state %>"
                <% } else { %>
                    placeholder="(e.g. Illinois)"
                <% } %>
                />
              </div>
              <div class="col-lg-4">
                <label for="address_zip">Zipcode</label>
                <input id="address_zip" class="input-block" type="text" name="address_zip"
                <% if (wishcard.address_zip) { %>
                    value="<%= wishcard.address.address_zip %>"
                <% } else { %>
                    placeholder="(e.g. 60640 )"
                <% } %>
                />
              </div>
              <div class="col-lg-4">
                <label for="address_country">Country</label>
                <input id="address_country" class="input-block" type="text" name="address_country"
                  <% if (wishcard.address_country) { %>
                    value="<%= wishcard.address.address_country %>"
                <% } else { %>
                    placeholder="(e.g. USA)"
                <% } %>
                />
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5 pt-1">
          <p class="p-2 mt-2">Wish card will be published once reviewed and approved by DonateGifts</p>
        </div>  
        <div id="submit-btn" class="quick-font">
          <input value="Save" type="submit" class="button form-submit" />
        </div> 
      </form>
    </div>
  </div>
  <%- include('./templates/footer')-%>
  <script>
    let agencyAddress = `<%- JSON.stringify(agencyAddress) %>`;
    let wishcardId = `<%- JSON.stringify(wishcard._id) %>`;
  </script>

</body>

</html>