extends ../master

block title
    title Gift Donation | School Supply Donation | Donate to Foster Children

block meta
    meta( name="description"
        content="Donate Gifts | Help children in foster care | Send supplies to kids"
    )
    meta( name="robots" content="index, follow" )
    meta( name="keywords" content="children, gift, wish, foster, donate, school supplies, back to school, holiday, donation" )

block content
    #home
        #hero.container-fluid.d-flex.justify-content-center.align-items-center
            .row
                .col-12.text-center
                    h1
                        | Send gifts to
                        |
                        span.typing( data-wait='2000' data-words='["foster children", "homeless youth", "kids in emergency shelters"]' )
                    p.py-1.mb-0.d-none.d-md-block Every child should feel valued and loved
                    p.py-1.d-none.d-md-block Donate holiday gifts and school supplies to the kids in need
                    .d-flex.justify-content-center.align-items-center.actions.mt-4
                        a.button-outline.button-width.m-2( href='/howto' ) How It Works
                        a.button-accent.button-width.m-2( href='/wishcards' ) See Wish Cards
        .heading-primary.text-center.py-3.px-1.mt-5.mx-2 Become Our Secret Santa
        p.text-mute.text-center.mx-auto.w-75.py-0
            span.d-none.d-md-inline.lh-lg.pb-1 Some wish card photos may feature the children's artwork or the agency logo.
            br
            | To comply with confidentiality and privacy regulations, identifiable features on children's photos are blurred or concealed in certain cases.
        #carousel-root

        #status-section.container-fluid.d-md-flex.align-items-center
            .container.d-md-flex.justify-content-center.align-items-center
                .col-md.py-3.py-md-0
                    .text-center
                        .status
                            img( src='/svg/wreath-3.svg' alt='wreath-illustration' loading='lazy' )
                        .display-2.text-danger= publishedCards
                        .fs-6.text-primary
                            = publishedCards <= 1 ? 'Child ' : 'Children '
                            | awaiting
                            br
                            | your donation

                .col-md.py-3.py-md-0
                    .text-center
                        .status
                            img( src='/svg/wreath-2.svg' alt='wreath-illustration' loading='lazy' )
                        .display-2.text-danger= donatedCards
                        .fs-6.text-primary
                            | Children
                            | received
                            br
                            | their gifts!

                .col-md.py-3.py-md-0
                    .text-center
                        .status
                            img( src='/svg/wreath-3.svg' alt='wreath-illustration' loading='lazy' )
                        .display-2.text-danger= verifiedAgencies
                        .fs-6.text-primary
                            | Agencies
                            | partnered
                            br
                            | with DonateGifts

        .my-5.py-3
            .heading-primary.text-center.mb-3.py-2 Our Partner Agencies
            .container-fluid.pb-5
                #partner-carousel

        .my-4
            .container
                .heading-primary.mb-3.text-center Make a Tangible Impact
                .d-md-flex
                    .col-md-6.pt-5.pb-4.px-3
                        img.img-fluid.rounded.rounded-3( src='/img/foster-children-back-facing-stock.jpg' alt='happy-kids-playing-need-school-supply-donations' loading='lazy' )
                    .col-md-6.p-3.p-md-5
                        p At this very moment, more than 500,000 children are in foster care, and over 4.2 million young souls are grappling with homelessness in the United States. For these kids, each day is marked by challenges and uncertainty.
                        p But you have the power to change that.
                        p Your kindness and generosity are the guiding lights that bring hope and positivity into the lives of these resilient kids. Your gifts are the key to empowerment, helping these children overcome obstacles and reach their full potential.
                        p Join us in this mission to provide school supplies and holiday gifts.
                        p You can make a tangible impact on children in need.
                        .col-md-6.text-center.text-md-start.py-3
                            a.button-primary( href='/contact' ) Contact DonateGifts

block modal
    include ../components/modal/wishcardDonationModal.pug
    include ../components/modal/loginModal.pug

block scripts
    script.
        (() => {
            class TypeWriter {
                constructor(txtElement, words, wait = 2000) {
                    this.txtElement = txtElement;
                    this.words = words;
                    this.txt = '';
                    this.wordIndex = 0;
                    this.wait = parseInt(wait, 10);
                    this.type();
                    this.isDeleting = false;
                }

                type () {
                    const current = this.wordIndex % this.words.length;
                    const fullTxt = this.words[current];
                    if (this.isDeleting) {
                        this.txt = fullTxt.substring(0, this.txt.length - 1);
                    } else {
                        this.txt = fullTxt.substring(0, this.txt.length + 1);
                    }
                    this.txtElement.innerHTML = `<span>${this.txt}</span>`;

                    let typeSpeed = 180;

                    if (this.isDeleting) {
                        typeSpeed /= 2;
                    }
                    if (!this.isDeleting && this.txt === fullTxt) {
                        typeSpeed = this.wait;
                        this.isDeleting = true;
                    } else if (this.isDeleting && this.txt === '') {
                        this.isDeleting = false;
                        this.wordIndex++;
                        typeSpeed = 350;
                    }
                    setTimeout(() => this.type(), typeSpeed);
                }
            }

            const init = () => {
                const txtElement = document.querySelector('.typing');
                const words = JSON.parse(txtElement.getAttribute('data-words'));
                const wait = txtElement.getAttribute('data-wait');
                new TypeWriter(txtElement, words, wait);
            }

            document.addEventListener('DOMContentLoaded', init);
        })()

    script.
        $(document).ready(function() {
            const carouselDivRoot = ReactRoot(document.querySelector('#partner-carousel'));
            carouselDivRoot.render(
                React.createElement(PartnerCarousel)
            );
        });

    script.
        $(document).ready(function () {
            const root = ReactRoot(document.querySelector('#carousel-root'));
            root.render(
                React.createElement(
                    WishCardsCarousel,
                    {
                        wishCards: !{JSON.stringify(wishCards)},
                        user: !{JSON.stringify(user || {})},
                        publishedCards: !{JSON.stringify(publishedCards)},
                        curatedCards: !{JSON.stringify(curatedCards)},
                    }
                )
            );
        })
