extends ../master

block title
    title Gift Donation | School Supply Donation | Donate to Foster Children

block meta
    meta( name="description"
        content="Donate Gifts | Help children in foster care | Send supplies to kids"
    )
    meta( name="robots" content="index, follow" )
    meta( name="keywords" content="children, gift, wish, foster, donate, school supplies, back to school, holiday, donation" )

block external
    include ../mixins/googlefacebookscripts.pug

block content
    #home
        #fb-root
        #hero.container-fluid.d-flex.justify-content-center.align-items-center
            .row
                .col-12.text-center
                    h1
                        | Send gifts to
                        |
                        span.typing( data-wait='2000' data-words='["foster children", "homeless youth", "kids in emergency shelters"]' )
                    p.py-1.mb-0.d-none.d-md-block Every child should feel valued and loved
                    p.py-1.d-none.d-md-block Donate holiday gifts and school supplies to the kids in need
                    .d-flex.justify-content-center.align-items-center.actions.mt-4
                        a.button-outline.button-width.m-2( href='/howto' ) How It Works
                        a.button-accent.button-width.m-2( href='/wishcards' ) See Wish Cards

        include ../components/homeSampleCards.pug

        #status-section.container-fluid.d-md-flex.align-items-center
            .container.d-md-flex.justify-content-center.align-items-center
                .col-md.mb-3.mb-md-0
                    .text-center
                        .status
                            img( src='/svg/wreath-3.svg' alt='illustration of wreath decoration' loading='lazy' )
                        .display-3.text-danger= undonatedCards
                        if undonatedCards < 2
                            .fs-6.text-primary
                                = undonatedCards > 0 ? 'Child' : 'Children '
                                | awaiting
                                br
                                | your donation
                        else
                            .fs-6.text-primary
                                | Children
                                | awaiting
                                br
                                | your donation

                .col-md.mb-3.mb-md-0
                    .text-center
                        .status
                            img( src='/svg/wreath-2.svg' alt='wreathpic' loading='lazy' )
                        .display-2.text-danger= donatedCards
                        .fs-6.text-primary
                            | Children
                            | received
                            br
                            | their gifts!

                .col-md
                    .text-center
                        .status
                            img( src='/svg/wreath-3.svg' alt='wreathpic' loading='lazy' )
                        .display-2.text-danger= verifiedAgencies
                        .fs-6.text-primary
                            | Agencies
                            | partnered
                            br
                            | with DonateGifts

        .my-5.py-3
            .heading-primary.text-center.mb-3.py-2 Our Partner Agencies
            .container-fluid.pb-5
                #partner-carousel
                    ul.small-ul.px-0( data-partner-carousel='' )
                        li
                            a( href='https://centraltexastableofgrace.org/' target='_blank' )
                                img( src='/img/central-texas-table-of-grace-logo.jpg' alt='Central Texas Table of Grace  logo' loading='lazy' )
                        li
                            a( href='https://onehopeunited.org/' target='_blank' )
                                img( src='/img/onehopeunited.png' alt='One Hope United logo' loading='lazy' )
                        li
                            a( href='https://www.newalternativesnyc.org/' target='_blank' )
                                img( src='/img/new-alternatives-logo.png' alt='New Alternatives logo' loading='lazy' )
                        li
                            img( src='/svg/childrens-aid-logo.svg' alt='Childrens Aid NYC Agency logo' loading='lazy' )
                        li
                            a( href='http://www.lacasanorte.org/' target='_blank' )
                                img( src='/img/la-casa-norte-logo.png' alt='La casa norte logo' loading='lazy' )
                        li
                            a( href='https://www.yos.org/' target='_blank' )
                                img( src='/img/yos-logo-2.jpeg' alt='Youth Outreach Services logo' loading='lazy' )
                        li
                            img( src='/img/partner-coalition-nyc.jpg' alt='Partner Coalition of NewYork City logo' loading='lazy' )
                        li
                            a( href='https://www.fosteringhopefoundation.org' target='_blank' )
                                img( src='/img/fostering-hope-logo.jpg' alt='Fostering Hope logo' loading='lazy' )
                        li
                            img( src='/img/you-gotta-believe-logo.jpg' alt='You gotta believe logo' loading='lazy' )
                        li
                            img( src='/img/penny-lane-logo.png' alt='Penny Lane Agency logo' loading='lazy' )
                        li
                            img( src='/img/epworth-tran-logo.png' alt='Epworth Village logo' loading='lazy' )
                        li
                            a( href='https://www.echoesofhope.org/' target='_blank' )
                                img( src='/img/echoes-of-hope-logo.png' alt='Echoes of Hope logo' loading='lazy' )
                        li
                            a( href='https://www.blueskiesforchildren.org/' target='_blank' )
                                img( src='/img/blue-sky-agency-logo.png' alt='Blue Skies for Children logo'  loading='lazy' )
                        li
                            a( href='https://casala.org/' target='_blank' )
                                img( src='/img/casa-la-logo.png' alt='CASA of Los Angeles logo' loading='lazy' )
                        li
                            a( href='https://www.hartdistrict.org/' target='_blank' )
                                img( src='/img/hart-district-logo.png' alt='William Hart district logo' loading='lazy' )
                        li
                            a( href='https://www.nyap.org/' target='_blank' )
                                img( src='/img/nyap-logo.png' alt='National Youth Advocate Program logo' loading='lazy' )
                    span.text-dark
                        i.fa.fa-arrow-circle-right.fa-2x
                    span.text-dark
                        i.fa.fa-arrow-circle-left.fa-2x

        .my-4
            .container
                .heading-primary.mb-3.text-center We Need Your Help
                .d-md-flex
                    .col-md-6.pt-5.pb-4.px-3
                        img.img-fluid.rounded.rounded-3( src='/img/foster-children-back-facing-stock.jpg' alt='happy-kids-playing-need-school-supply-donations' loading='lazy' )
                    .col-md-6.p-3.p-md-5
                        p At this very moment, more than 500,000 children are in foster care, and over 4.2 million young souls are grappling with homelessness in the United States. For these kids, each day is marked by challenges and uncertainty.
                        p But you have the power to change that.
                        p Your kindness and generosity are the guiding lights that bring hope and positivity into the lives of these resilient kids. Your gifts are the key to empowerment, helping these children overcome obstacles and reach their full potential.
                        p Join us in this mission to provide school supplies and holiday gifts.
                        p You can make a tangible impact on children in need.
                        .col-md-6.text-center.text-md-start.py-3
                            a.button-primary( href='/contact' ) Contact DonateGifts

block modal
    include ../components/modal/wishcardDonationModal.pug
    include ../components/modal/loginModal.pug

block scripts
    script.
        (() => {
            class TypeWriter {
                constructor(txtElement, words, wait = 2000) {
                    this.txtElement = txtElement;
                    this.words = words;
                    this.txt = '';
                    this.wordIndex = 0;
                    this.wait = parseInt(wait, 10);
                    this.type();
                    this.isDeleting = false;
                }

                type () {
                    const current = this.wordIndex % this.words.length;
                    const fullTxt = this.words[current];
                    if (this.isDeleting) {
                        this.txt = fullTxt.substring(0, this.txt.length - 1);
                    } else {
                        this.txt = fullTxt.substring(0, this.txt.length + 1);
                    }
                    this.txtElement.innerHTML = `<span>${this.txt}</span>`;

                    let typeSpeed = 180;

                    if (this.isDeleting) {
                        typeSpeed /= 2;
                    }
                    if (!this.isDeleting && this.txt === fullTxt) {
                        typeSpeed = this.wait;
                        this.isDeleting = true;
                    } else if (this.isDeleting && this.txt === '') {
                        this.isDeleting = false;
                        this.wordIndex++;
                        typeSpeed = 350;
                    }
                    setTimeout(() => this.type(), typeSpeed);
                }
            }

            const init = () => {
                const txtElement = document.querySelector('.typing');
                const words = JSON.parse(txtElement.getAttribute('data-words'));
                const wait = txtElement.getAttribute('data-wait');
                new TypeWriter(txtElement, words, wait);
            }

            document.addEventListener('DOMContentLoaded', init);
        })()

    script.
        $(document).ready(() => {
            const carouselDiv = $('#partner-carousel');
            let imgList = $('#partner-carousel ul li');
            const arrowBtns = $('#partner-carousel span');

            imgList.parent().attr('data-partner-carousel', imgList.length);

            const carouselImg = () => {
                imgList = $('#partner-carousel ul li');
                if (imgList.length <= imgList.parent().data('partner-carousel')) {
                    imgList
                        .parent()
                        .append('<li>' + imgList.first().html() + '</li>')
                        .children()
                        .first()
                        .animate(
                            {
                                marginLeft: -imgList.first().outerWidth(),
                            },
                            3000,
                            () => {
                                imgList.first().remove();
                            }
                        );
                }
            };

            let autoSlideCarousel = setInterval(carouselImg, 2500);

            carouselDiv.mouseenter(() => {
                clearInterval(autoSlideCarousel);
            });

            carouselDiv.mouseleave(() => {
                autoSlideCarousel = setInterval(carouselImg, 1000);
            });

            arrowBtns.first().on('click', () => {
                imgList = $('#partner-carousel ul li');
                const leftImg = imgList.first().html();
                if (imgList.length <= imgList.parent().data('partner-carousel')) {
                    imgList
                        .parent()
                        .append('<li>' + leftImg + '</li>')
                        .children()
                        .first()
                        .remove();
                }
            });

            arrowBtns.last().on('click', () => {
                imgList = $('#partner-carousel ul li');
                const lastImg = imgList.last().html();
                if (imgList.length <= imgList.parent().data('partner-carousel')) {
                    imgList
                        .parent()
                        .prepend('<li>' + lastImg + '</li>')
                        .children()
                        .last()
                        .remove();
                }
            });
        });

    script.
        $(document).ready(() => {
            const sampleCardsCarousel = $('#sample-cards-carousel');
            new bootstrap.Carousel(sampleCardsCarousel, {
                interval: 1000,
                touch: true,
            });
        });
