extends ../master

block title
    title Reset Password

append head
    if locals.env.captcha
        script( src='https://www.google.com/recaptcha/api.js' async defer )

block content
    #password-reset.gradient-form.center-elements
        .container.py-5
            form#reset-form.p-5.rounded-4( method='post' )
                .col-md-8.mx-auto.text-white
                    .py-2
                        label.form-label( for='password' ) New Password
                        div
                            .input-group
                                input#password.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( required
                                    type='password'
                                    name='password'
                                )
                                span.input-group-text.bg-transparent.border-0.rounded-0.border-bottom.border-white
                                    #showPassword.fas.fa-eye.text-white.pointer
                            small#password-error.hidden.text-primary Passwords do not match

                    .py-2
                        label.form-label( for='password-repeat' ) Confirm New Password
                        input#password-repeat.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( required
                            type='password'
                            name='password-repeat'
                        )

                    .row.py-2.justify-content-center
                        .col-md-4
                            button.btn.btn-lg.btn-primary.w-100( type='submit' ) Submit

block scripts
    include ../mixins/formvalidation
    +passwordToggleJS

    script.
        $(document).ready(() => {
                $('#password-error').hide();
            $('#password-repeat').focusout((e) => {
                const password = $('#password').val();
                const passwordRepeat = $(e.currentTarget).val();

                if (passwordRepeat !== '') {
                    if (password !== passwordRepeat) {
                        $('#password-error').show();
                    } else {
                        $('#password-error').hide();
                    }
                }
            });
        });

    if locals.env.captcha
        script.
            $(document).ready(() => {
            const token = window.location.pathname.split('/').at(-1);
                $('#reset-form').submit((event) => {
                    event.preventDefault();
                    $('#submit-btn').prop('disabled', true);
                    grecaptcha.execute();
                });

                const confirmCaptchaSubmit = (response) => {
                    //- const captchaToken = response;
                    const password = $('#password').val();
                    const passwordConfirm = $('#password-repeat').val();
                    $.ajax({
                        type: 'POST',
                        url: `/profile/password/reset/${token}`,
                        data: {
                            password,
                            passwordConfirm,
                            //- captchaToken,
                        },
                        success: function (response, textStatus, xhr) {
                            $('#submit-btn').prop('disabled', false);
                            console.log({response}, {textStatus})
                            location.assign(response.url);
                        },
                        error: function (response, textStatus, errorThrown) {
                            $('#submit-btn').prop('disabled', false);
                            showToast(response.responseJSON.error.msg);
                            grecaptcha.reset();
                        },
                    });
                };

                window.confirmCaptchaSubmit = confirmCaptchaSubmit;
            });
    else
        script.
            $(document).ready(() => {
                const token = window.location.pathname.split('/').at(-1)
                $('#reset-form').submit((event) => {
                    event.preventDefault();
                    $('#submit-btn').prop('disabled', false);

                    const password = $('#password').val();
                    const passwordConfirm = $('#password-repeat').val();

                    $.ajax({
                        type: 'POST',
                        url: `/profile/password/reset/${token}`,
                        data: {
                            password,
                            passwordConfirm,
                        },
                        success: function (response, textStatus, xhr) {
                            $('#submit-btn').prop('disabled', false);
                            console.log({response}, {textStatus})
                            location.assign(response.url);
                        },
                        error: function (response, textStatus, errorThrown) {
                            $('#submit-btn').prop('disabled', false);
                            showToast(response.responseJSON.error.msg);
                        },
                    });
                });
            });