extends ../master

block title
    title Reset Password

block content
    #password-reset.gradient-form.center-elements
        .container.py-5
            form.p-5.rounded-4
                .col-md-8.mx-auto.text-white
                    .py-2
                        label.form-label( for='password' ) New Password
                        div
                            .input-group
                                input#password.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( required
                                    type='password'
                                    name='password'
                                )
                                span.input-group-text.bg-transparent.border-0.rounded-0.border-bottom.border-white
                                    #showPassword.fas.fa-eye.text-white.pointer
                            small#password-error.hidden.text-primary Passwords do not match

                    .py-2
                        label.form-label( for='password-repeat' ) Confirm New Password
                        input#password-repeat.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( required
                            type='password'
                            name='password-repeat'
                        )

                    .row.py-2.justify-content-center
                        .col-md-4
                            button.btn.btn-lg.btn-primary.w-100( type='submit' ) Submit

            input( type='hidden' name='token' value=token )

block scripts
    include ../mixins/formvalidation
    +passwordToggleJS

    script.
        $(document).ready(() => {
            const $submitButton = $('button[type="submit"]');

            $('#password-error').hide();

            $('#password, #password-repeat').focusout((e) => {
                const password = $('#password').val();
                const passwordRepeat = $(e.currentTarget).val();

                if (passwordRepeat !== '') {
                    if (password !== passwordRepeat) {
                        $('#password-error').show();
                        $submitButton.attr('disabled', true);
                    } else {
                        $('#password-error').hide();
                        $submitButton.removeAttr('disabled');
                    }
                }
            });
        });

    script.
        $(document).ready(() => {
            const token = $('input[name="token"]').val();

            $('form').submit((event) => {
                event.preventDefault();

                const $submitButton = $('button[type="submit"]');
                const password = $('#password').val();
                const passwordConfirm = $('#password-repeat').val();

                $submitButton.attr('disabled', true);

                $.ajax({
                    type: 'POST',
                    url: '/profile/password/new',
                    data: {
                        password,
                        passwordConfirm,
                        token,
                    },
                    success: (response, textStatus, xhr) => {
                        location.assign(response.url);
                    },
                    error: (response, textStatus, errorThrown) => {
                        $submitButton.removeAttr('disabled', false);
                        new DG.Toast().show(response.responseJSON.error.msg, DG.Toast.styleMap.danger);
                    },
                });
            });
        });