extends ../master

block title
    title Request new Password

block content
    #password-reset.gradient-form.center-elements
        .container.py-5
            form#reset.p-5.rounded-4( method='post' )
                .col-md-8.mx-auto.text-white
                    .py-2
                        .py-2
                        label.form-label( for='email' ) Email
                        input#email.form-control.bg-transparent.border-0.rounded-0.border-bottom.border-white( required
                            type='email'
                            name='email'
                            placeholder='username@xyz.com'
                        )

                    .row.py-2.justify-content-center
                        .col-md-4
                            button.btn.btn-lg.btn-primary.w-100( type='submit' ) Submit

append scripts
    script.
        $(document).ready(() => {
            $("#reset").submit((e) => {
                e.preventDefault();
                const toast = new DG.Toast();

                $.ajax({
                    type: "POST",
                    url:  "/profile/password/reset",
                    data: {
                        email: $("#email").val(),
                    },
                    success: (response, textStatus, xhr) => {
                        $("#submit-btn").prop("disabled",false);
                        toast.show("A password reset link was sent. Click the link in the email to create a new password.");
                    },
                    error: (response, textStatus, errorThrown) => {
                        $("#submit-btn").prop("disabled",false);
                        toast.show("An error occurred. Please try again.", true);
                    }
                })
            })
        });

    if successNotification
        script.
            new DG.Toast.show('#{locals.successNotification}');
    else if errorNotification
        script.
            new DG.Toast.show('#{locals.errorNotification}', true);
