extends ../master

block title
    - var childName = `${wishcard.childFirstName}'s Wish Card Page | DonateGifts`
    title= childName

block content
    .wishpage.py-4
        .container-fluid
            -
                var header = `Hi, I am ${wishcard.childFirstName}!`;
                var about = `About ${wishcard.childFirstName}`;
                var imgList = ['/img/gift-placeholder-1.jpg', '/img/gift-placeholder-2.jpg', '/img/gift-placeholder-3.jpg', '/img/gift-placeholder-4.jpg', '/img/gift-placeholder-5.jpg'];
                var wishItemImg = imgList[Math.floor(Math.random() * 5)];
                var wishItemPrice = `$${wishcard.wishItemPrice}`;
                var agencyAddress = `${agency.agencyAddress.city + ', ' || ''}${agency.agencyAddress.state + ', ' || ''}${agency.agencyAddress.zipcode || ''}`;
                var messageChildName = `Message ${wishcard.childFirstName}`;
                var defaultText = `No one signed ${wishcard.childFirstName}'s card yet. Log in and send a message.`;
                var options = { year: 'numeric', month: 'short', day: 'numeric' };

            .row.justify-content-center.align-items-start
                .col-md-4.col-lg-3.col-12.mt-4
                    .card-body.shadow-lg.p-4.d-flex.justify-content-center.align-items-center.flex-column
                        img.img-fluid.mt-2( src= wishcard.wishCardImage alt= wishcard.wishItemName loading='lazy' )
                        h1.my-3= header
                        if wishcard.status === 'donated'
                            button#donate-btn.button-disabled.text-center( type='button' disabled='' aria-disabled='true' ) Gift Donated
                        else if user
                            a#donate-btn.button-accent.text-center( type='button' href='/wishcards/donate/' + wishcard._id ) Donate Gift
                        else
                            button#donate-btn.button-accent.text-center( type='button'
                                data-bs-toggle='modal'
                                data-bs-target='#loginModalCenter'
                            ) Donate Gift
                .col-md-8.col-lg-8.col-12.mt-4
                    .card-body.shadow-lg.p-4.mb-4
                        .row.m-2
                            .col-md-6.col-lg-6.col-12
                                h2.my-4= about
                                p
                                    span My Age:
                                    span.mx-2= wishcard.age
                                p
                                    span My Interest:
                                    span.mx-2= wishcard.childInterest
                                p
                                    span My Story:
                                    span.mx-2= wishcard.childStory
                            .col-md-6.col-lg-6.col-12
                                h2.my-4 Care Agency
                                p
                                    i.fas.fa-building
                                    span= agency.agencyName
                                if agency.agencyAddress
                                    p
                                        i.fas.fa-map-marker-alt
                                        span= agencyAddress
                                if agency.agencyPhone
                                    p
                                        i.fas.fa-phone-alt
                                        = agency.agencyPhone
                                if agency.agencyWebsite
                                    p
                                        a.agency-link( href= agency.agencyWebsite target='_blank' rel='noopener noreferrer' )
                                            i.fas.fa-link
                                            = agency.agencyWebsite
                                if agency.agencyBio
                                    p
                                        i.fas.fa-address-card
                                        span= agency.agencyBio
                    .card-body.shadow-lg.wish-panel
                        .row.mx-2.mt-2
                            .col-md-6.col-lg-6.col-12
                                h2.my-4 My Wish
                                img.img-fluid.mb-3( src= wishItemImg  alt= wishcard.wishItemName loading='lazy' )
                                p
                                    span Item Name:
                                    span.mx-2= wishcard.wishItemName
                                p
                                    span Item Price:
                                    span.mx-2= wishItemPrice
                            .col-md-6.col-lg-6.col-12
                                if user
                                    h2.my-4 Send Message
                                    form.message.text-center.d-flex.flex-column.justify-content-center( action='/wishcards/message' method='post' )
                                        select.custom-select
                                            option( selected ) Select a message to send
                                            each message, index in defaultMessages
                                                option( value=index )= message
                                        textarea.mt-3.p-3( rows= "7" placeholder="or write your custom message..." )
                                        input#submit.mt-4.button-primary.d-flex.justify-content-center( type='submit' value= messageChildName )
                    .card-body.shadow-lg.p-4.my-4
                        .row.m-2
                            h2.my-4 Message Board
                            if messages.length === 0
                                p= defaultText
                            else
                                each message in messages
                                    .msg-each.row.px-3.py-4
                                        .col-12
                                            - var createdAt = message.createdAt.toLocaleDateString('en-us', options);
                                            if message.messageFrom && message.messageFrom.fName && message.messageFrom.lName
                                                - var posterName = `${message.messageFrom.fName} ${message.messageFrom.lName.charAt(0)}.`
                                                p= posterName
                                                p.time-stamp= createdAt
                                                p.d-flex.align-items-start
                                                    i.far.fa-comment-dots
                                                    span.mx-2= message.message
block modal
    include ../components/modal/loginModal.pug

block scripts
    script.
        $(document).ready(function () {
            $('.message').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/wishcards/message',
                    data: {
                        messageFrom: '',
                        messageTo: '',
                        message: $('.custom-select option:selected').text(),
                    },
                    statusCode: {
                        400: function (response) {
                            showToast(response.responseJSON.error.msg);
                        },
                        200: function (response) {
                            window.location.reload();
                        },
                        403: function (response) {
                            showToast('Access Forbidden: Your account lacks sufficient permissions');
                            setTimeout(() => location.assign(response.responseJSON.url), 1200);
                        },
                    },
                });
            });
        });