extends ../master

block title
    title Wish Cards

block modal
    include ../components/modal/loginModal.pug
    include ../components/modal/wishcardDonationModal.pug

append scripts
    script.
        $(document).ready(function () {
            const root = ReactRoot(document.querySelector('#app-root'));
            root.render(
                React.createElement(
                    WishCards,
                    {
                        user: !{user ? JSON.stringify(user) : JSON.stringify({})},
                        wishCards: !{JSON.stringify(wishcards)},
                        agencies: !{JSON.stringify(agencies)},
                    }
                )
            );
        });

    script.
        // TODO: still needed?
        countdown = [];

        $(document).ready(function () {
            const wishcards = !{JSON.stringify(wishcards)};

            for (let i = 0; i < wishcards.length; i++) {
                if (wishcards[i].status === 'donated') {
                    $(document).find('#donate-btn-' + wishcards[i]._id).text('Donated!');
                    $(document).find('#donate-btn-' + wishcards[i]._id).prop('disabled', true);
                }

                if (new Date(wishcards[i].isLockedUntil) > new Date()) {
                    addCountdown(wishcards[i].isLockedUntil, wishcards[i]._id, `#donate-btn-${wishcards[i]._id}`)
                }
            }
        });