extends ../master

block title
    title Wish Cards

block content
    .wishcards
        .container
            form#searchBar( action='/wishcards/search' method='POST' )
                .quick-font.search-bar-container.d-flex.flex-column.flex-sm-row.align-items-baseline
                    .flex-fill
                        .search-border.card-body.row.no-gutters.align-items-center
                            .col.pl-2
                                input.form-control.form-control-lg.form-control-borderless( type='search'
                                    name='wishitem'
                                    placeholder='Search'
                                )

                            .col-auto
                                button.wishcard__button--yellow.d-flex.align-items-center( type='submit' )
                                    span.search-button-text.d-none.d-sm-block Search
                                    svg.bi.bi-search( width='1em'
                                        height='1em'
                                        viewbox='0 0 16 16'
                                        fill='currentColor'
                                        xmlns='http://www.w3.org/2000/svg'
                                    )
                                        path( fill-rule='evenodd'
                                            d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'
                                        )
                                        path( fill-rule='evenodd'
                                            d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z'
                                        )
                        .d-flex.justify-content-end.mt-3
                            button.btn.btn-link( type='button'
                                style='width: auto'
                                data-bs-toggle='collapse'
                                data-bs-target='#filter-panel'
                            ) Filter by
                                svg.bi.bi-funnel-fill( width='1em'
                                    height='1em'
                                    viewbox='0 0 16 16'
                                    fill='currentColor'
                                    xmlns='http://www.w3.org/2000/svg'
                                )
                                    path( fill-rule='evenodd'
                                        d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z'
                                    )

                #filter-panel.quick-font.collapse.filter-card.ms-auto
                    .d-lg-flex.justify-content-between.px-3
                        .form-group
                            .form-check
                                input#child-age-check-younger( name='younger'
                                    value='14'
                                    checked
                                    type='checkbox'
                                    style='margin-right: 10px'
                                )
                                label.form-check-label( for='child-age-check-younger' ) Age Under 15
                        .form-group
                            .form-check
                                input#child-age-check-older( name='older'
                                    value='15'
                                    checked
                                    type='checkbox'
                                    style='margin-right: 10px'
                                )
                                label.form-check-label( for='child-age-check-older' ) Age 15 And Older
                        .form-group
                            .form-check
                                input#donated( type='checkbox'
                                    style='margin-right: 10px'
                                    value='true'
                                    checked
                                    name='showDonatedCheck'
                                )
                                label.form-check-label( for='donated' ) Include Donated Wishes
                        .form-group
                            .form-check
                                input#recentlyAdded( type='checkbox'
                                    style='margin-right: 10px'
                                    value='true'
                                    name='recentlyAdded'
                                )
                                label.form-check-label( for='recentlyAdded' ) Recently Added

                    .d-flex.justify-content-end.mt-3
                        button.wishcard__button--blue.button-apply.col-lg-3( type='submit' )
                            span.apply-button-text Apply
                            svg.bi.bi-check2-circle( width='1em'
                                height='1em'
                                viewbox='0 0 16 16'
                                fill='currentColor'
                                xmlns='http://www.w3.org/2000/svg'
                            )
                                path( fill-rule='evenodd'
                                    d='M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z'
                                )
                                path( fill-rule='evenodd'
                                    d='M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z'
                                )
        .container.pt-5
            p.quick-font.loading Loading...
            #wishcard-container.row.justify-content-center
            .row.justify-content-center
                button#load-more.quick-font.wishcard__link--white.bdr-2( type='button' style='width: auto' ) Load more

block modal
    include ../components/modal/loginModal.pug
    include ../components/modal/wishcardDonationModal.pug

block scripts
    include ../mixins/loginToast.pug
    include ../mixins/wishcards/cardLoader.pug
    include ../mixins/wishcards/donateModal.pug

    if !user
        +loginToastJS

    +cardLoaderJS
    +donateModalJS

    script.
        countdown = [];

        $(document).ready(function () {
            const wishcards = !{JSON.stringify(wishcards)};

            for (let i = 0; i < wishcards.length; i++) {
                if (wishcards[i].status === 'donated') {
                    $(document).find('#donate-btn-' + wishcards[i]._id).text('Donated!');
                    $(document).find('#donate-btn-' + wishcards[i]._id).prop('disabled', true);
                }

                if (new Date(wishcards[i].isLockedUntil) > new Date()) {
                    addCountdown(wishcards[i].isLockedUntil, wishcards[i]._id, `#donate-btn-${wishcards[i]._id}`)
                }
            }
        });