#checkoutHelper.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content.text-primary
            .modal-header.d-flex.align-items-center
                h3.px-3 Where is my donation item being delivered to?
                button.btn-close.btn-close( type='button' data-bs-dismiss='modal' aria-label='close' )
            .modal-body.text-dark
                .container
                    .row.px-2
                        p
                            span= `Partner Agency: `
                            span.fw-semi-bold= agency.agencyName
                        p
                            span= `Website: `
                            span.fw-semi-bold= agency.agencyWebsite ? agency.agencyWebsite : 'Not Provided'
                        p
                            span= `Phone Number: `
                            span.fw-semi-bold= agency.agencyPhone
                        p
                            span= `Address (partial for privacy): `
                            span.fw-semi-bold= `${agency.agencyAddress.city}, ${agency.agencyAddress.state} ${agency.agencyAddress.zipcode}, ${agency.agencyAddress.country}`
            .modal-footer
                button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close

#checkoutHelper2.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content.text-primary
            .modal-header.d-flex.align-items-center
                h4.px-3 Why is there a processing fee?
                button.btn-close( type='button' data-bs-dismiss='modal' aria-label='close' )
            .modal-body.text-dark
                .container
                    .row
                        p.px-3 We strive not to impose any additional costs on you, given our status as a non-profit organization. However, it's important to note that each card transaction is facilitated through Stripe, a PCI-compliant secure payment processing system. Stripe typically incurs a charge of approximately 3% per transaction.
                    .row
                        p.px-3 Furthermore, to account for potential fluctuations in item prices, we have implemented a 5% cover fee. This ensures that even if the item price increases immediately after your payment, we can still proceed with placing the order and shipping it to the partner agency.
            .modal-footer
                button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close

#checkoutHelper3.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content.text-primary
            .modal-header.d-flex.align-items-center
                h4.px-3 What is the item sales tax?
                button.btn-close( type='button' data-bs-dismiss='modal' aria-label='close' )
            .modal-body.text-dark
                .container
                    .row
                        p.px-3 The merchant charges sales tax on the donation item when the order is placed for shipment to our partner foster agency. Sales tax is governed at the state level and varies based on the recipient's (partner agency) address.
            .modal-footer
                button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close

#checkoutHelper4.modal.fade( tabindex='-1' )
    .text-fix.modal-dialog.modal-dialog-centered.modal-lg( role='document' )
        .modal-content.text-primary
            .modal-header.d-flex.align-items-center
                h4.px-3 Please support our cause
                button.btn-close( type='button' data-bs-dismiss='modal' aria-label='close' )
            .modal-body.text-dark
                .container
                    .row
                        p.px-3 We'd love to continue our project and help more kids, but as a nonprofit, it's challenging to proceed without your support. Your assistance will enable us to further develop and enhance this project, extending our reach to more foster kids and bringing smiles to their faces.
                    .row
                        p.px-3 Proceeds will also be used to purchase wish items that did not get donated by the deadline, ensuring that no child is left disappointed. Thank you so much for helping us make a difference in the lives of others.
            .modal-footer
                button.btn.btn-secondary( type='button' data-bs-dismiss='modal' ) Close
